<!DOCTYPE html>
<html lang="en">
<head>
	    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <!--优先使用 IE 最新版本和 Chrome-->
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <!--360 使用Google Chrome Frame-->
    <meta name="renderer" content="webkit">
    <!--百度禁止转码-->
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <!-- 是否启用 WebApp 全屏模式 -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no, email=no,adress=no" searchtype="map" />
    <!-- 针对手持设备优化，主要是针对一些老的不识别viewport的浏览器，比如黑莓 -->
    <meta name="HandheldFriendly" content="true">
    <!-- uc强制竖屏 -->
    <meta name="screen-orientation" content="portrait">
    <!-- QQ强制竖屏 -->
    <meta name="x5-orientation" content="portrait">
    <meta http-equiv="pragma" content="no-cache">
    <meta http-equiv="cache-control" content="no-cache,must-revalidate">
    <meta http-equiv="expires" content="0">
    <meta name="viewport" content="width=device-width,height=device-height,initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta name="screen-orientation" content="portrait">
    <meta name="x5-orientation" content="portrait">

	<title>Document</title>
	<link rel="stylesheet" href="../../public/css/owl.carousel.css">
	<link rel="stylesheet" href="../../public/css/owl.theme.css">
	<link rel="stylesheet" href="../../public/css/bootstrap.css">
	<link rel="stylesheet" href="../../public/css/animate.css">
	<link rel="stylesheet" href="../../public/css/comment.css">
	<link rel="stylesheet" href="../../public/css/head.css">
	<link rel="stylesheet" href="../../public/css/index.css">
	<link rel="stylesheet" href="../../public/css/consultant.css">
</head>
<body>

<div class="HeaderTop"></div>
<div class="HeaderTopFixed">
	<div class="header-top">
		<div class="row">
			<div class="col-xs-6">
				<div class="header-top-nav">
					<img class="bounceIn animated" src="../../public/images/header/nav.png" alt="">
				</div>
			</div>
			<div class="col-xs-6 text-right">
				<!-- 头像 -->
				<span class="arrow-top">
					<img class="bounceIn animated" src="../../public/images/header/arrow-top.png" alt="">
				</span>
				<span class="portrait">
					<div class="portrait-img">
						<img class="bounceIn animated" src="../../public/images/header/people.png" alt="">
					</div>
				</span>
			</div>
		</div>
		<ul class="MainNav">
				<li class="MainNav_list">
					<b class="icon-home"></b>
					<a>企业</a>
					<!-- <b class="icon-arrow-left-w"></b> -->
				</li>
				<div class="MainNav_lists">
					<li><a href="../index.html">明星企业<b class="icon-arrow-left"></b></a></li>
					<li><a href="../Company/index.html">更多企业<b class="icon-arrow-left"></b></a></li>
				</div>
				<li class="MainNav_list">
					<b class="icon-peoples"></b>
					<a>人才</a>
					<!-- <b class="icon-arrow-left-w"></b> -->
				</li>
				<div class="MainNav_lists">
					<li><a href="index.html">明星人才<b class="icon-arrow-left "></b></a></li>
					<li><a href="../Cattle/cattle.html">更多人才<b class="icon-arrow-left"></b></a></li>
				</div>
				<li class="MainNav_list active">
					<b class="icon-people"></b>
					<a>顾问</a>
					<!-- <b class="icon-arrow-left-w"></b> -->
				</li>
				<div class="MainNav_lists  MainNav_listsActive">
					<li><a href="index.html">金牌顾问<b class="icon-arrow-left activeB"></b></a></li>
					<li><a href="advanced.html">更多顾问<b class="icon-arrow-left"></b></a></li>
				</div>
		</ul>
		<ul class="MainLogin">
			<li><a href="/">登录</a></li>
			<li><a href="/">注册</a></li>
		</ul>
	</div>
</div>
	<div class="content-fluid">
			<!-- kong -->
			<div class="header-nav">
			</div>
			<!-- 导航 -->
			<div class="header-fixed padding-no">
			<!-- logo -->
				<div class="Company-logo text-center">
					<a href="../index.html"><img class="bounceIn animated" src="../../public/images/header/n-logo.png" alt=""></a>
				</div>
				<!-- 头像 -->
				<div class="portrait">
					<div class="portrait-img">
						<img class="bounceIn animated" src="../../public/images/header/people.png" alt="">
					</div>
				</div>
				<!-- 导航 -->
				<ul class="navigation text-right">
					<li class="navigation-list">
						<b class="icon-home-w"></b>
						<b class="icon-home"></b>
						<a href="../index.html">企业</a>
					</li>
					<div class="MainNav_lists">
						<li><a href="../index.html">明星企业</a><b class="icon-arrow-left"></b></li>
						<li><a href="/">更多企业</a><b class="icon-arrow-left"></b></li>
					</div>
					<li class="navigation-list ">
						<b class="icon-peoples-w"></b>
						<b class="icon-peoples"></b>
						<a href="index.html">人才</a>
					</li>
					<div class="MainNav_lists">
						<li><a href="index.html">明星人才</a><b class="icon-arrow-left "></b></li>
						<li><a href="index.html">更多人才</a><b class="icon-arrow-left"></b></li>
					</div>
					<li class="navigation-list active">
						<b class="icon-people-w"></b>
						<b class="icon-people"></b>
						<a href="../Consultant/index.html">顾问</a>
					</li>
					<div class="MainNav_lists  MainNav_listsActive">
						<li><a href="../Consultant/index.html">金牌顾问</a><b class="icon-arrow-left activeB"></b></li>
						<li><a href="advanced.html">更多顾问</a><b class="icon-arrow-left"></b></li>
					</div>
				</ul>
				<p class="text-center Login">
					<a href="/">登录</a> ｜ <a href="/">注册</a>
				</p>
				<p class="text-center font-16">
					京ICP备16003476号
				</p>
			</div>
			<!-- 右侧内容 -->
			<div class="content">
				<div class="ReturnPage">
					<a><b class="ReturnPage-left"></b></a>
				</div>
				<div class="CATTLE">
					<div class="container-fluid">
						<div class="row">
						<!-- people infomation -->
							<div class="col-md-9">
								<div class="CATTLE-people">
									<div class="Features">
										<b>
											<img  class="add-info-img" src="../../public/images/header/STAR.png" alt="">
											<img  class="remove-info-img" src="../../public/images/header/STAR2.png" alt="">
										</b>
										<b class="share">
											<img class="share-img" src="../../public/images/header/fenxaing.png" alt="">
											<div class="info">
												<p>
													分享
													<img class="CLOSE" src="../../public/images/header/CLOSE.png" alt="">
												</p>
												<div>
													<a href="">
														<img src="../../public/images/header/wexin.png" alt="">
														<span>微信</span>
													</a>
													<a href="">
														<img src="../../public/images/header/weibo.png" alt="">
														<span>微博</span>
													</a>
													<a href="">
														<img src="../../public/images/header/pengyouquan.png" alt="">
														<span>朋友圈</span>
													</a>
												</div>
											</div>
										</b>
									</div>
									<div class="PortraitIMG">
										<img src="../../public/images/company/people.png" alt="">
									</div>

									<p class="text-center CATTLE-name">
										刘阿宝
									</p>
									<div class="Introduction text-center">
										<p><a href="../Company/detail.html">泰伦仕（北京）管理咨询有限公司</a></p>
										<div class="IntroductionFont text-left">
											<div class="padding-no">
												<span class="text-left"><img src="../../public/images/header/PIN.png" alt="">地点：北京</span>
											</div>
											<div class="padding-no">
												<span class="text-left"><img src="../../public/images/header/TIME.png" alt="">从业时间：2013-08-01</span>
											</div>
											<div class="padding-no">
												<span class="text-left"><img src="../../public/images/header/SHOP.png" alt="">擅长行业：医疗</span>
											</div>
											<div class="padding-no">
												<span class="text-left"><img src="../../public/images/header/TAG.png" alt="">擅长职能 ：医学/医药/生物制药</span>
											</div>
										</div>
									</div>
								</div>
							</div>
						<!-- 登录／注册 -->
							<div class="col-md-3">
								<div class="LOGIN">
									<div class="bgLoginPink">
										联系方式
									</div>
									<div class="text-center">
										<a href=""><p class="LOGIN-IN">登录
										<span class="LOGIN-IN-SPAN">后查看联系方式</span>
										</p></a>

										<p class="NO_HAVER">没有账号？</p>
										<p><img src="../../public/images/header/ARROEBOTTOM.png" alt=""></p>
										<p class="LOGIN-UP">注册</p>
									</div>
								</div>
							</div>
						<!-- 人物信息 -->
							<div class="col-md-9">
								<div class="CATTLE-people-info">
									<div class="CATTLE-people-panle">
										<div class="FontH1">正在招聘的职位</div>
										<div class="search">
											<input type="text" placeholder="搜索职位">
											<img src="../../public/images/header/MAGNIFYING.png" alt="">
										</div>
										<div style="display: inline-block; width: 100%;"><b class="round"></b><b class="Font-line"></b></div>
										<!-- START -->
										<div class="CATTLE-people-infomation CATTLE-company">
											<div class="row">
												<div class="col-xs-8 padding-no">
													<div class="col-md-7 padding-no">
														<span class="triangle"><span>急</span></span>	
														<img class="add-info" src="../../public/images/header/CIRCLE_PLUS.png" alt="">
														<img  class="remove-info" src="../../public/images/header/CIRCLE_MINUS.png" alt="">
														<span class="font-blue"><a href="../Jobs/index.html">产品经理</a></span>
														<span class="font-h5">5小时前</span>
														<p class="font-red">￥15-20K</p>
														<p class="INFOMATI">北京 | 本科 | 经验3-5年</p>
													</div>
													<div class="col-md-5 padding-no">
														<p class="company-name"><a href="../Company/detail.html">北京微科锐科技有限公司</a></p>
														<p class="company-name-en">互联网（A轮）</p>
													</div>
												</div>
												<div class="col-xs-4 text-right">
														<div class="Features">
															<b>
																<img  class="add-info-img" src="../../public/images/header/STAR.png" alt="">
																<img  class="remove-info-img" src="../../public/images/header/STAR2.png" alt="">
															</b>
															<b class="share">
																<img class="share-img" src="../../public/images/header/fenxaing.png" alt="">
																<div class="info">
																	<p>
																		分享
																		<img class="CLOSE" src="../../public/images/header/CLOSE.png" alt="">
																	</p>
																	<div>
																		<a href="">
																			<img src="../../public/images/header/wexin.png" alt="">
																			<span>微信</span>
																		</a>
																		<a href="">
																			<img src="../../public/images/header/weibo.png" alt="">
																			<span>微博</span>
																		</a>
																		<a href="">
																			<img src="../../public/images/header/pengyouquan.png" alt="">
																			<span>朋友圈</span>
																		</a>
																	</div>
																</div>
															</b>
														</div>
														<div class="Application">申请职位</div>
												</div>
											</div>
											<div class="recommend">
												<b>推荐理由：</b>具有3年产品经理工作经验，具有3年产品经理工作经验具有3年产品经理工作经验具有3年产品经理工作经验具有3年产品经理工作经
											</div>	
										</div>
										<!-- END -->
										<div class="CATTLE-people-infomation CATTLE-company">
											<div class="row">
												<div class="col-xs-8 padding-no">
													<div class="col-md-7 padding-no">
														<span class="triangle gray"><span>过期</span></span>	
														<img class="add-info" src="../../public/images/header/CIRCLE_PLUS.png" alt="">
														<img  class="remove-info" src="../../public/images/header/CIRCLE_MINUS.png" alt="">
														<span class="font-blue"><a href="../Jobs/index.html">产品经理</a></span>
														<span class="font-h5">5小时前</span>
														<p class="font-red">￥15-20K</p>
														<p class="INFOMATI">北京 | 本科 | 经验3-5年</p>
													</div>
													<div class="col-md-5 padding-no">
														<p class="company-name"><a href="../Company/detail.html">北京微科锐科技有限公司</a></p>
														<p class="company-name-en">互联网（A轮）</p>
													</div>
												</div>
												<div class="col-xs-4 text-right">
														<div class="Features">
															<b>
																<img  class="add-info-img" src="../../public/images/header/STAR.png" alt="">
																<img  class="remove-info-img" src="../../public/images/header/STAR2.png" alt="">
															</b>
															<b class="share">
																<img class="share-img" src="../../public/images/header/fenxaing.png" alt="">
																<div class="info">
																	<p>
																		分享
																		<img class="CLOSE" src="../../public/images/header/CLOSE.png" alt="">
																	</p>
																	<div>
																		<a href="">
																			<img src="../../public/images/header/wexin.png" alt="">
																			<span>微信</span>
																		</a>
																		<a href="">
																			<img src="../../public/images/header/weibo.png" alt="">
																			<span>微博</span>
																		</a>
																		<a href="">
																			<img src="../../public/images/header/pengyouquan.png" alt="">
																			<span>朋友圈</span>
																		</a>
																	</div>
																</div>
															</b>
														</div>
														<div class="Application">申请职位</div>
												</div>
											</div>
											<div class="recommend">
												<b>推荐理由：</b>具有3年产品经理工作经验，具有3年产品经理工作经验具有3年产品经理工作经验具有3年产品经理工作经验具有3年产品经理工作经
											</div>	
										</div>
									</div>

								</div>
							</div>
						</div>
					</div>
				</div>
					<!-- 底部信息 -->
				<div class="footer-box">
					<div class="footer">
						<div class="row">
							<div class="col-xs-4 text-center">
								<span class="text-left">
									Vcareer.cn 版权所有
									<br>
									Company
									<br>
									Candidate
									
								</span>
							</div>
							<div class="col-xs-4 text-center">
								<span class="text-left">
									Server@Vcareer.cn 版权所有
									<br>
									京ICP备16003476号
								</span>
							</div>
							<div class="col-xs-4 text-center">
								<span class="text-left">
									Liepin
									<br>
									Linkedin
									<br>
									Indeed
									<br>
									Glassdoor
								</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	<!-- 底部信息 -->
<div class="App-footer">
	<div class="col-xs-4 text-left">
		Vcareer.cn 版权所有
		<br>
		Company
		<br>
		Candidate
	</div>
	<div class="col-xs-4 text-center">
		<span class="text-left">
			Server@Vcareer.cn 版权所有
			<br>
			京ICP备16003476号
		</span>
	</div>
	<div class="col-xs-4 text-right">
		<span class="text-left">
			Liepin
			<br>
			Linkedin
			<br>
			Indeed
			<br>
			Glassdoor
		</span>
	</div>
</div>
</body>
	<script src="../../public/js/jquery-1.11.2.min.js"></script>
	<script src="../../public/js/jquery.elipsis.js"></script>
	<script src="../../public/js/OwlCarousel.js"></script>
	<script src="../../public/js/main.js"></script>
</html>