<!DOCTYPE html>
<html lang="en">
<head>
	    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <!--优先使用 IE 最新版本和 Chrome-->
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <!--360 使用Google Chrome Frame-->
    <meta name="renderer" content="webkit">
    <!--百度禁止转码-->
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <!-- 是否启用 WebApp 全屏模式 -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no, email=no,adress=no" searchtype="map" />
    <!-- 针对手持设备优化，主要是针对一些老的不识别viewport的浏览器，比如黑莓 -->
    <meta name="HandheldFriendly" content="true">
    <!-- uc强制竖屏 -->
    <meta name="screen-orientation" content="portrait">
    <!-- QQ强制竖屏 -->
    <meta name="x5-orientation" content="portrait">
    <meta http-equiv="pragma" content="no-cache">
    <meta http-equiv="cache-control" content="no-cache,must-revalidate">
    <meta http-equiv="expires" content="0">
    <meta name="viewport" content="width=device-width,height=device-height,initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta name="screen-orientation" content="portrait">
    <meta name="x5-orientation" content="portrait">

	<title>Document</title>
	<link rel="stylesheet" href="../../public/css/owl.carousel.css">
	<link rel="stylesheet" href="../../public/css/owl.theme.css">
	<link rel="stylesheet" href="../../public/css/bootstrap.css">
	<link rel="stylesheet" href="../../public/css/animate.css">
	<link rel="stylesheet" href="../../public/css/comment.css">
	<link rel="stylesheet" href="../../public/css/head.css">
	<link rel="stylesheet" href="../../public/css/index.css">
	<link rel="stylesheet" href="../../public/css/company.css">
	<link rel="stylesheet" href="../../public/css/personal/index.css">
	<link rel="stylesheet" href="../../public/css/personal/infomation.css">
</head>
<body>

<div class="HeaderTop"></div>
<div class="HeaderTopFixed">
	<div class="header-top">
		<div class="row">
			<div class="col-xs-6">
				<div class="header-top-nav">
					<img class="bounceIn animated" src="../../public/images/header/nav.png" alt="">
				</div>
			</div>
			<div class="col-xs-6 text-right">
				<!-- 头像 -->
				<span class="arrow-top">
					<img class="bounceIn animated" src="../../public/images/header/arrow-top.png" alt="">
				</span>
				<span class="portrait">
					<div class="portrait-img">
						<img class="bounceIn animated" src="../../public/images/header/people.png" alt="">
					</div>
				</span>
			</div>
		</div>
		<ul class="MainNav">
				<li class="MainNav_list active">
					<b class="icon-home"></b>
					<a>企业</a>
					<!-- <b class="icon-arrow-left-w"></b> -->
				</li>
				<div class="MainNav_lists  MainNav_listsActive">
					<li><a href="../index.html">明星企业<b class="icon-arrow-left activeB"></b></a></li>
					<li><a href="index.html">更多企业<b class="icon-arrow-left"></b></a></li>
				</div>
				<li class="MainNav_list ">
					<b class="icon-peoples"></b>
					<a href="../Cattle/index.html">人才</a>
					<!-- <b class="icon-arrow-left-w"></b> -->
				</li>
				<div class="MainNav_lists">
					<li><a href="../Cattle/index.html">明星人才<b class="icon-arrow-left "></b></a></li>
					<li><a href="../Cattle/cattle.html">更多人才<b class="icon-arrow-left"></b></a></li>
				</div>
				<li class="MainNav_list">
					<b class="icon-people"></b>
					<a>顾问</a>
					<!-- <b class="icon-arrow-left-w"></b> -->
				</li>
				<div class="MainNav_lists">
					<li><a href="../Consultant/index.html">金牌顾问<b class="icon-arrow-left"></b></a></li>
					<li><a href="../Consultant/advanced.html">更多顾问<b class="icon-arrow-left"></b></a></li>
				</div>
		</ul>
		<ul class="MainLogin">
			<li><a href="/">登录</a></li>
			<li><a href="/">注册</a></li>
		</ul>
	</div>
</div>
	<div class="content-fluid">
			<!-- kong -->
			<div class="header-nav">
			</div>
			<!-- 导航 -->
			<div class="header-fixed padding-no">
			<!-- logo -->
				<div class="Company-logo text-center">
					<a href="../index.html"><img class="bounceIn animated" src="../../public/images/header/n-logo.png" alt=""></a>
				</div>
				<!-- 头像 -->
				<div class="portrait">
					<div class="portrait-img">
						<img class="bounceIn animated" src="../../public/images/header/people.png" alt="">
					</div>
				</div>
				<!-- 导航 -->
				<ul class="navigation text-right">
					<li class="navigation-list active">
						<b class="icon-home-w"></b>
						<b class="icon-home"></b>
						<a href="../index.html">企业</a>
					</li>
					<div class="MainNav_lists  MainNav_listsActive">
						<li><a href="../index.html">明星企业</a><b class="icon-arrow-left activeB"></b></li>
						<li><a href="index.html">更多企业</a><b class="icon-arrow-left"></b></li>
					</div>
					<li class="navigation-list ">
						<b class="icon-peoples-w"></b>
						<b class="icon-peoples"></b>
						<a href="../Cattle/index.html">人才</a>
					</li>
					<div class="MainNav_lists">
						<li><a href="../Cattle/index.html">明星人才</a><b class="icon-arrow-left "></b></li>
						<li><a href="index.html">更多人才</a><b class="icon-arrow-left"></b></li>
					</div>
					<li class="navigation-list">
						<b class="icon-people-w"></b>
						<b class="icon-people"></b>
						<a href="../Consultant/index.html">顾问</a>
					</li>
					<div class="MainNav_lists">
						<li><a href="../Consultant/index.html">金牌顾问</a><b class="icon-arrow-left"></b></li>
						<li><a href="../Consultant/advanced.html">更多顾问</a><b class="icon-arrow-left"></b></li>
					</div>
				</ul>
				<p class="text-center Login">
					<a href="/">登录</a> ｜ <a href="/">注册</a>
				</p>
				<p class="text-center font-16">
					京ICP备16003476号
				</p>
			</div>
			<!-- 右侧内容 -->
			<div class="content">
				<div class="ReturnPage">
					<a><b class="ReturnPage-left"></b></a>
					<div class="_p_right">人才会员中心</div>
				</div>
				<div class="_p_con">
					<div class="_p_con_left">
						<div class="p-box">
							<!-- 找工作 -->
							<div class="personal _p">
								<a href="jobs.html">
								<div class="_p_icon red">
									<img src="../../public/images/personal/SUITCASE.png" alt="">
									<img  class="_p_add_img" src="../../public/images/personal/SUITCASE2.png" alt="">
								</div>
								<div class="_p_info">
									找工作
								</div>
								</a>
							</div>
						</div>
						<div class="p-box">
							<!-- 简历管理 -->
							<div class="personal _p _P_m_t">
								<a href="resume.html">
								<div class="_p_icon blue">
									<img src="../../public/images/personal/DOCUMENTS.png" alt="">
									<img  class="_p_add_img" src="../../public/images/personal/DOCUMENTS2.png" alt="">
								</div>
								<div class="_p_info">
									简历管理
								</div>
								</a>
							</div>
							<!-- 基本信息 -->
							<div class="personal _p _p_active">
								<a href="infomation.html">
								<div class="_p_icon greet">
									<img src="../../public/images/personal/BOOK 1.png" alt="">
									<img class="_p_add_img" src="../../public/images/personal/BOOK 2.png" alt="">
								</div>
								<div class="_p_info">
									基本信息
								</div>
								</a>
							</div>
							<!-- 面试邀请 -->
							<div class="personal _p">
								<a href="invite.html">
								<div class="_p_icon cheng">
									<img src="../../public/images/personal/SPEECH BUBBLES.png" alt="">
									<img class="_p_add_img" src="../../public/images/personal/SPEECH BUBBLES2.png" alt="">
								</div>
								<div class="_p_info">
									面试邀请
								</div>
								</a>
							</div>
						
							<!-- 谁看过我的简历 -->
							<div class="personal _p">
								<a href="browse.html">
								<div class="_p_icon zi">
									<img src="../../public/images/personal/VIEW.png" alt="">
									<img class="_p_add_img" src="../../public/images/personal/VIEW2.png" alt="">
								</div>
								<div class="_p_info">
									谁看过我的简历
								</div>
								</a>
							</div>
						</div>
						<div class="p-box">
							<!-- 我浏览过的职位 -->
							<div class="personal _p _P_m_t">
								<a href="see.html">
								<div class="_p_icon zise">
									<img src="../../public/images/personal/CALENDAR _ ADD.png" alt="">
									<img class="_p_add_img" src="../../public/images/personal/CALENDAR _ ADD2.png" alt="">
								</div>
								<div class="_p_info">
									我浏览过的职位
								</div>
								</a>
							</div>
							<!-- 申请的职位 -->
							<div class="personal _p">
								<a href="application.html">
								<div class="_p_icon red-gray">
									<img src="../../public/images/personal/BELL.png" alt="">
									<img class="_p_add_img" src="../../public/images/personal/BELL2.png" alt="">
								</div>
								<div class="_p_info">
									申请的职位
								</div>
								</a>
							</div>
						<!-- 收藏记录 -->
						<div class="personal _p">
							<a href="collect.html">
							<div class="_p_icon blue-dark">
								<img src="../../public/images/personal/STAR.png" alt="">
								<img class="_p_add_img" src="../../public/images/personal/STAR2.png" alt="">
							</div>
							<div class="_p_info">
								收藏记录
							</div>
							</a>
						</div>
						</div>
						<div class="p-box">
							<!-- 更改密码 -->
							<div class="personal _p _P_m_t">
								<a href="password.html">
								<div class="_p_icon yellow">
									<img src="../../public/images/personal/UNLOCK.png" alt="">
									<img class="_p_add_img" src="../../public/images/personal/UNLOCK2.png" alt="">
								</div>
								<div class="_p_info">
									更改密码
								</div>
								</a>
							</div>
							<!-- 退出登录 -->
							<div class="personal _p">
								<a href="">
								<div class="_p_icon zise-fik">
									<img src="../../public/images/personal/POWER.png" alt="">
									<img class="_p_add_img" src="../../public/images/personal/POWER2.png" alt="">
								</div>
								<div class="_p_info">
									退出登录
								</div>
								</a>
							</div>
						</div>
					</div>
					<div class="_p_con_right">
						<div class="_p_title">
							基本信息
						</div>
						<form action="">
						<div class="p_resume">
								<div class="row">
									<div class="col-md-6">
										<div class="form-group">
										    <label class="col-sm-4 control-label" for='username'>真实姓名</label>
										    <div class="col-sm-7">
											      <input class="form-control people" id="username" type='text' placeholder="用户名" name="username"
											      	data-remote="/user/validate"
													data-error="最少5位，数字英文大小写和下划线，不能用数字开头"
													maxlength="20"
													minlength="1"
													required
													>
										    </div>
										</div>
										<div class="form-group">
											<label class="col-sm-4 control-label" for='gender'>真实姓名</label>
											<div class="col-sm-7">
											    <label class="demo--label">
											        <input class="demo--radio" type="radio" name="radio">
											        <span class="demo--radioInput">男</span>
											    </label>
											    <label class="demo--label">
											        <input class="demo--radio" type="radio" name="radio">
											        <span class="demo--radioInput">女</span>
											    </label>
											</div>
										</div>
										<div class="form-group">
											<label class="col-sm-4 control-label" for='gender'>出生日期</label>
											<div class="col-sm-7">
												<input class="form-control people" id="user_date" type='datetime' name="user_date" required>
											    <p class="time_date">格式：1988-09-08</p>
											</div>
										</div>
										<div class="form-group">
										    <label class="col-sm-4 control-label" for='addr'>现居住地</label>
										    <div class="col-sm-7">
											      <input class="form-control" id="addr" type='text' name="addr" required>
										    </div>
										</div>
										<div class="form-group">
											    <label class="col-sm-4 control-label" for=''>最高学历</label>
											    <div class="col-sm-7">
											      <select class="form-control" id="" required>
											      	<option value="请选择">请选择</option>
												    <option value="博士">博士</option>
												    <option value="博士">博士</option>
												  </select>
											    </div>
										  </div>
									</div>
									<div class="col-md-6">
										 <!-- 手机号 -->
										 <div class="form-group">
										    <label class="col-sm-4 control-label" for='phone'>手机号</label>
										    <div class="col-sm-7">
										      <input type='text' class="form-control phone" id="phone" placeholder="手机号" name="phone"
												data-remote="/user/validate"
												data-remote-error="手机号已经存在"
												data-error="请输入正确的手机号"
												pattern="^1[0-9]*$"
												maxlength="11"
												minlength="11"
												required
												>
										    </div>
										  </div>
										  <div class="form-group">
											    <label class="col-sm-4 control-label" for='email'>邮箱</label>
											    <div class="col-sm-7">
											      <input class="form-control email" id="email" type='email' placeholder="企业邮箱" name="email"
											      	data-remote="/user/validate"
													data-remote-error="邮件地址已经存在"
													data-error="您的邮件地址不正确"
													required
													>
											    </div>
										  </div>
										 <div class="form-group">
											    <label class="col-sm-4 control-label" for=''>工作经验</label>
											    <div class="col-sm-7">
											      <select class="form-control" id="sel1" required>
											      	<option value="请选择">请选择</option>
												    <option value="不限">不限</option>
												    <option value="1~3年">1~3年</option>
												  </select>
											    </div>
										  </div>
										  <div class="form-group">
											    <label class="col-sm-4 control-label" for=''>从事行业</label>
											    <div class="col-sm-7">
											      <select class="form-control" id="" required>
											      	<option value="请选择">请选择</option>
												    <option value="机械/设备/技工">机械/设备/技工</option>
												    <option value="机械/设备/技工">机械/设备/技工</option>
												  </select>
											    </div>
										  </div>

									</div>
								</div>
						</div>
						<div class="p_resume">
							<p class="linghtred">以下为选填项</p>
							<div class="row">
								<div class="col-md-6">
									<div class="form-group">
									    <label class="col-sm-4 control-label" for=''>身高(cm)</label>
									    <div class="col-sm-7">
										      <input class="form-control people" id="" type='text' name="">
									    </div>
									</div>
									<div class="form-group">
									    <label class="col-sm-4 control-label" for=''>民族</label>
									    <div class="col-sm-7">
										      <select class="form-control" id="" required>
										      	<option value="请选择">请选择</option>
											    <option value="汉族">汉族</option>
											    <option value="汉族">汉族</option>
											  </select>
										</div>
									</div>
									<div class="form-group">
									    <label class="col-sm-4 control-label" for=''>体重（kg）</label>
									    <div class="col-sm-7">
										      <input class="form-control people" id="" type='text' name="">
									    </div>
									</div>
									<div class="form-group">
									    <label class="col-sm-4 control-label" for=''>个人主页</label>
									    <div class="col-sm-7">
										      <input class="form-control people" id="" type='text' name="">
									    </div>
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group">
									    <label class="col-sm-4 control-label" for=''>户籍所在地</label>
									    <div class="col-sm-7">
										      <input class="form-control people" id="" type='text' name="">
									    </div>
									</div>
									<div class="form-group">
									    <label class="col-sm-4 control-label" for=''>详细地址</label>
									    <div class="col-sm-7">
										      <input class="form-control people" id="" type='text' name="">
									    </div>
									</div>
									<div class="form-group">
									    <label class="col-sm-4 control-label" for=''>婚姻</label>
									    <div class="col-sm-7">
										      <select class="form-control" id="" required>
										      	<option value="请选择">请选择</option>
											    <option value="汉族">已婚</option>
											    <option value="汉族">未婚</option>
											  </select>
										</div>
									</div>
								</div>
							</div>
						</div>
						<button type="submit" class="btn btn-default">保存</button>
						</form>
					</div>
				</div>
					<!-- 底部信息 -->
				<div class="footer-box">
					<div class="footer">
						<div class="row">
							<div class="col-xs-4 text-center">
								<span class="text-left">
									Vcareer.cn 版权所有
									<br>
									Company
									<br>
									Candidate
									
								</span>
							</div>
							<div class="col-xs-4 text-center">
								<span class="text-left">
									Server@Vcareer.cn 版权所有
									<br>
									京ICP备16003476号
								</span>
							</div>
							<div class="col-xs-4 text-center">
								<span class="text-left">
									Liepin
									<br>
									Linkedin
									<br>
									Indeed
									<br>
									Glassdoor
								</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	<!-- 底部信息 -->
<div class="App-footer">
	<div class="col-xs-4 text-left">
		Vcareer.cn 版权所有
		<br>
		Company
		<br>
		Candidate
	</div>
	<div class="col-xs-4 text-center">
		<span class="text-left">
			Server@Vcareer.cn 版权所有
			<br>
			京ICP备16003476号
		</span>
	</div>
	<div class="col-xs-4 text-right">
		<span class="text-left">
			Liepin
			<br>
			Linkedin
			<br>
			Indeed
			<br>
			Glassdoor
		</span>
	</div>
</div>
</body>
	<script src="../../public/js/jquery-1.11.2.min.js"></script>
	<script src="../../public/js/jquery.elipsis.js"></script>
	<script src="../../public/js/OwlCarousel.js"></script>
	<script src="../../public/js/main.js"></script>
	<script>
    var _PortraitIMG = $('.PortraitIMG').width();
    $('.PortraitIMG').height(_PortraitIMG*0.625);
	</script>
</html>