
.advanced-box {
	padding: 0 5%;
}
.main-title {
	margin: 30px 0;
}
/*详情*/
.more {
	width: 200px;
	height: 35px;
	margin: 35px auto 50px auto;
	background: #f5989d;
	font-size: 14px;
	text-align: center;
	padding-top: 7px;
	box-shadow: 4px 6px 2px rgba(0,0,0,0.2);

}
.more a {
	color: #ffffff;
}
/*金牌顾问*/
.panel {
	text-align: center;
	box-shadow: 0px 1px 3px rgba(0,0,0,0.1);
	border-radius: 0;
	border: none;
	display: inline-block;
	width: 100%;
}
.Portrait {
	border-radius: 50%;
	width: 110px;
	height: 110px;
	background: #ffffff;
	border: 3px solid #ffffff;
	margin: 35px auto;
	overflow: hidden;
}
.Portrait img {
	width: 100%;
}
.panel .top {
	background: #d6d1d1;
	height: 105px;
	padding: 10px;
}
.panel .top .topL {
	float: left;
	padding: 5px 15px;
	background: #ffffff;
	border-radius: 15px;
	box-shadow: 0px 1px 10px rgba(0,0,0,0.1);
}
.panel .top .topR {
	float: right;
	font-size:14px;
}
.panel .top .topR img {
	width: 10px;
}
.panel .info {
	padding-top: 65px;
}
.panel .info .font-blue {
	font-size: 22px;
}

.panel .info .font-h1 {
	font-size: 18px;
	margin: 10px 0 15px 0;
}
.panel .info .information {
	margin-bottom: 25px;
}
.panel .info .information span {
	font-size: 14px;
	
	padding: 5px 7px;
	border-radius: 15px;
	border: 1px solid #55a8fd;
}
.panel .info .shanchan p {
	margin-bottom: 10px;
	font-size:14px;
}
.information .job_a{font-size: 14px;
	color: #fff;
	padding: 5px 7px;
	border-radius: 15px;
	border: 1px solid #55a8fd;
	background:#55a8fd;
	}
