
/*详情页*/
.CATTLE {
	padding: 0 5px;
}
.PortraitIMG {
	width: 100%;
	overflow: hidden;
}
.PortraitIMG img {
	width: 100%;
}
/*简介*/
.CATTLE-people {
	margin-top: 20px;
	border-radius: 10px;
	padding: 20px 10%;
	background: #ffffff;
	display: inline-block;
	width: 100%;
	font-size: 14px;
	box-shadow: 0px 2px 5px rgba(0,0,0,0.2);
}
.CATTLE-people-info {
	border-radius: 0 0 10px 10px;
	padding: 60px 10% 0 10%;
	display: inline-block;
	width: 100%;
	background: #ffffff;
}
.company-introduction {
	text-overflow:ellipsis; white-space:nowrap; overflow:hidden;color: #666666;margin-top: 10px;
}
.ARROWBOTTOM {
	width: 30px;
	height: 20px;
	margin: 15px auto;
	cursor: pointer;
}
.CATTLE-people-info b {
	font-size: 18px;
	color: #333333;
	font-weight: normal;
}
.CATTLE-people-info {
	color: #999999;
}

/*人物信息*/

.CATTLE-name {
	font-size: 22px;
	color: #333333;
	padding: 15px 0;
}
.Introduction {
	border: 2px solid #f68f8f;
	border-radius: 5px;
	padding: 20px;
	width: 100%;
	display: inline-block;
}

.Introduction img {
	margin-top: -3px;
	margin-right: 10px;
}
.IntroductionFont {
	color: #333333;
	display: inline-block;
}
.IntroductionFont span {
	margin-top: 15px;
	margin-right: 25px;
	font-size: 14px;
	color: #222222;
	display: inline-block;
}
.IntroductionFont span img {
	margin-right: 10px;
	width:12px;
}
.INFOMATI {
	margin: 10px 0;
}
.FontH1 {
	background: #e6e6e6;
	padding: 10px 20px;
	text-align: center;
	padding-top: 10px;
	font-size: 20px;
	color: #333333;
	border-radius: 20px;
	margin-top: 15px;
}

.Font-line {
	width: 95%;
	float: right;
	margin-top: 20px;
	display: inline-block;
	border-top: 2px solid #e6e6e6;
}
.CATTLE-people-infomation {
	font-size: 14px;
	line-height: 2;
	overflow: hidden;
	transition: all 0.5s;
	color: #999999;
	margin-top: 40px;
}
.height-active {
	height: 200px;
}
.CATTLE-people-panle .heightactive {
	height: auto;
}
.ARROWBOTTOM.active-arrow {
	transform: rotate(180deg);
	-ms-transform: rotate(180deg);		/* IE 9 */
	-webkit-transform: rotate(180deg);	/* Safari and Chrome */
	-o-transform: rotate(180deg);		/* Opera */
	-moz-transform: rotate(180deg);		/* Firefox */
}
.CATTLE-company {
	border: 1px solid #f68f8f;
	margin-bottom: 30px;
	padding: 20px 30px;
	position: relative;
}
.CATTLE-company b {
	font-size: 14px;
	cursor: pointer;
}
.CATTLE-company .font-blue {
	font-size: 22px;
}
.font-blue a {
	color: #29abe2;
}
.CATTLE-company .font-blue span { 
	font-size: 14px;
	color: #999999;
}
.company-name {
	font-size: 16px;
	color: #333333;
	margin-left: 15px;
}
.company-name-en {
	font-size: 14px;
	color: #999999;
	margin-top: 25px;
	margin-left: 15px;
}

.CATTLE-company .font-blue .font-red {
	font-size: 20px;
	color: #ff3e03;
}
.CATTLE-people-infomation span {
	color: #666666;
}
.footer-box {
	margin-top: 200px;
}
.fenge {
	display: inline-block; width: 100%;margin: 5px 0 10px; 
}
.round {
	width: 10px;
	height: 10px;
	display: inline-block;
	float: left;
	border-radius: 50%;
	background: #c1c1c1;
	margin-top: 15px;
}
.Application {
	width: 100%;
	height: 30px;
	background: #fe8369;
	border-radius: 5px;
	color: #ffffff;
	font-size: 14px;
	text-align: center;
	line-height: 30px;
	margin-top: 86px;
}
.share-img{width:15px;}
.add-info-img{width:16px;}
@media screen and (max-width: 736px) {
	.CATTLE-company .font-blue .font-red {
		font-size: 14px;
	}
	.font-blue a {
		font-size: 14px;
	}
	.Features b {
		margin-left: 0;
		margin-right: 10px;
	}
	.fenge {
		margin: 0px 0px 10px;
	}
	.CATTLE-name {
		margin-top: 25px;
		padding: 0;
	}
	.FontH1 {
		font-size: 18px;
		margin-top: 0;
	}
	.CATTLE-name{font-size:16px;}
	.ReturnPage {
		display: none;
	}
	.CATTLE-people {
		padding: 15px;
	}
	.IntroductionFont span {
		margin-top: 10px;
		display: block;
	}
	.CATTLE-people-info {
		border-radius: 10px;
	}
	.CATTLE-people-info {
		padding: 15px;
	}
	.CATTLE-people-infomation {
		margin: 15px 0;
		padding: 0;
	}
	.search input {
		display: none;
	}
	.CATTLE-company {
		overflow: hidden;
		height: 55px;
		background: #f0f0f0;
		padding: 10px 15px;
		margin-bottom: 15px;
	}
	.CATTLE-company .font-blue span {
		margin: 0;
		margin-top: 5px;
	}
	.INFOMATI {
		margin: 7px 0;
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
	}
	.Application {
		margin-top: 100px;
	}
	.add-info {
		display: inline-block;
	}
	.company-introduction {
		margin-top: 0;
	}
}


