/*详情页*/
.CATTLE {
	padding: 0 5px;
}

/*简介*/
.CATTLE-people {
	margin-top: 20px;
	border-radius: 10px 10px 0 0;
	padding: 30px 10% 80px;
	background: #ffffff;
	font-size: 14px;
	z-index: 1;
	position: relative;
	box-shadow: 0px 10px 40px rgba(0,0,0,0.2);
}
.CATTLE-people-info {
	border-radius: 0 0 10px 10px;
	padding: 60px 10%;
	display: inline-block;
	width: 100%;
	background: #ffffff;
}
.CATTLE-people-info .INFOMATION {
	margin: 20px 0 30px 0;
}
.CATTLE-people-info b {
	font-size: 18px;
	color: #333333;
	font-weight: normal;
}
.CATTLE-people-info {
	color: #999999;
}
/*人物信息*/
.PortraitIMG {
	border: 2px solid #000000;
	width: 165px;
	height: 165px;
	border-radius: 50%;
	margin: 0 auto;
}
.PortraitIMG img {
	width: 100%;
}
.CATTLE-name {
	font-size: 22px;
	color: #333333;
	padding: 15px 0;
}
.Introduction {
	border: 2px solid #f68f8f;
	border-radius: 5px;
	padding: 20px;
	width: 100%;
	display: inline-block;
}

.Introduction img {
	margin-top: -3px;
	margin-right: 10px;
	width:14px;
}
.Introduction .IntroductionFont {
	margin-top: 15px;
	color: #333333;
	width: 100%;
	display: inline-block;
}
.IntroductionFont div {
	float: left;
	margin-left: 10px;
}
.IntroductionFont span {
	margin-top: 15px;
	display: inline-block;
}
.INFOMATI {
	margin: 20px 0 0 0;
}
.FontH1 {
	background: #e6e6e6;
	width: 215px;
	height: 50px;
	text-align: center;
	padding-top: 10px;
	font-size: 22px;
	color: #333333;
	border-radius: 20px;
	float: left;
}
.Font-line {
	width: 95%;
	float: right;
	margin-top: 20px;
	display: inline-block;
	border-top: 2px solid #e6e6e6;
}
.CATTLE-people-infomation {
	border: 1px solid #f68f8f;
	font-size: 14px;
	margin-top: 25px;
	position: relative;
	padding: 25px 45px;
}
.CATTLE-people-infomation .font-blue {
	font-size: 22px;
	color: #29abe2;
}
.CATTLE-people-infomation .font-blue span { 
	margin-left: 25px;
	font-size: 14px;
	color: #999999;
}
.company-name {
	font-size: 16px;
	color: #333333;
	margin-top: 5px;
}
.company-name-en {
	font-size: 14px;
	color: #999999;
	margin-top: 15px;
}
.font-red {
	font-size: 20px;
	color: #ff3e03;
	margin-top: 15px;
}
.CATTLE-people-infomation span {
	color: #666666;
}
.CATTLE-people-infomation .CATTLE-people-infomation-p {
	margin-top: 50px;
}

.footer-box {
	margin-top: 200px;
}
.Features {
	float: none;
}
.round {
	width: 10px;
	height: 10px;
	display: inline-block;
	float: left;
	border-radius: 50%;
	background: #c1c1c1;
	margin-top: 15px;
}
.Application {
	max-width: 120px;
	height: 40px;
	float: right;
	padding: 0 20px;
	background: #fe8369;
	border-radius: 5px;
	color: #ffffff;
	font-size: 16px;
	text-align: center;
	line-height: 40px;
	margin-top: 50px;
}
.recommend {
	overflow: hidden;
	white-space:nowrap;
	text-overflow:ellipsis;
	margin-top: 20px;
	margin-left: -15px;
}
.triangle {
	display: inline-block;
	position: absolute;
	top: -25px;
	left: -30px;
	border: 16px solid #fe6262;
	border-right-color:rgba(0,0,0,0);
	border-bottom-color:rgba(0,0,0,0);
}
.triangle span {
	position: absolute;
	top: -14px;
	left: -13px;
	color: #ffffff;
	font-size: 12px;
}
.gray {
	border: 20px solid #afaeae;
	border-right-color:rgba(0,0,0,0);
	border-bottom-color:rgba(0,0,0,0);
}
.gray span {
	left: -20px;
    display: inline-block;
    width: 28px;
}
@media screen and (max-width: 736px) {
	.triangle {
		top: -14px;
		left: -5px;
	}
	.share-img{width:14px;}
	.ReturnPage {
		display: none;
	}
	.CATTLE-people {
		padding: 15px;
	}
	.PortraitImg {
		width: 100px;
		height: 100px;
	}
	.CATTLE-name {
		font-size: 32px;
	}
	.IntroductionFont span {
		margin-top: 10px;
	}
	.CATTLE-people-info {
		border-radius: 10px;
	}
	.CATTLE-people-info {
		padding: 15px;
	}
	.IntroductionFont div {
		float: none;
		margin-left: 5%;
	}
	.CATTLE-people-infomation {
		padding: 25px;
	}
	.CATTLE-people-infomation .font-blue {
		font-size: 16px;
	}
	.CATTLE-people-infomation .CATTLE-people-infomation-p {
		margin-top: 20px;
	}
	.CATTLE-people-infomation p,.recommend {
		margin-top: 10px;
	}
	.add-info {
		display: inline-block;
		margin-left: 20px;
		margin-right: 0;
		position: relative;
		z-index: 100;
	}
	.remove-info {
		margin-left: 40px;
		margin-right: 0;
		position: relative;
		z-index: 100;
	}
	.CATTLE-company {
		overflow: hidden;
		height: 55px;
		background: #f0f0f0;
		padding: 13px 10px 13px 20px;
	}
	.company-name,.company-name-en {
		margin-left: 0;
	}
	.search input {
		display: none;
	}
	.Application {
		padding: 0 2px;
	}
	.search img {
		right: 5px;
	}
	.font-h5 {
		display: block;
		margin-top: 15px;
		margin-left: 15px;
	}
	.font-red {
		font-size: 16px;
	}
}


