
.header-top {
	display: none;
	background: #29abe2;
	height: 50px;
	padding: 0 20px;
	position: relative;
}
.header-top .PortraitImg img {
	width: 20px;
}
.HeaderTopFixed {
	position: fixed;
	width: 100%;
	z-index: 999999999;
	top: 0;
}
.HeaderTop {
	width: 100%;
	height: 50px;
	display: none;
}
.MainNav {
	position: absolute;
	top: 50px;
	left: 0;
	width: 100%;
	height: 1px;
	overflow: hidden;
	background:#29abe2;
	z-index: 200;
	cursor: pointer;
	transition: all 0.5s;
	-moz-transition: all 0.5s;	/* Firefox 4 */
	-webkit-transition: all 0.5s;	/* Safari 和 Chrome */
	-o-transition: all 0.5s;	/* Opera */
}
li.MainNav_list.active {
	background: #43B5EE;
}
.MainNav a {
	color: #ffffff;
	padding-left: 15px;
}
.MainNav a:hover {
	color: #ffffff;
}
.MainNav .MainNav_lists li a {
	display: inline-block;
	width: 100%;
	padding-top: 0px;
	padding-left: 80px;
	
}
.MainNav .MainNav_lists li b {
	float: right;
	margin-top: 5px;
	margin-right: 15px;
}
.MainNav_list .icon-arrow-left-w {
	float: right;
	margin-right: 15px;
}
.MainNav_list b {
	display: inline-block;
}
.MainNav li {
	background: #3BBBF2;
	width: 100%;
	height: 46px;
	padding-top: 12px;
	font-size: 14px;
	color: #ffffff;
	padding-left: 15px;
	border-bottom: 1px solid #29abe2;
}

.header-top-nav {
	width: 25px;
	height: 25px;
	padding-top: 12px;
}
.header-top-nav img {
	width: 100%;
}
.arrow-top {
	float: right;
	margin-top: 12px;
	display: inline-block;
	transition: all 0.5s;
	-moz-transition: all 0.5s;	/* Firefox 4 */
	-webkit-transition: all 0.5s;	/* Safari 和 Chrome */
	-o-transition: all 0.5s;	/* Opera */
}
.arrow-top img {
	width: 20px;
	
}
.PortraitImg {
	transform: rotate(180deg);
	-ms-transform: rotate(180deg);		/* IE 9 */
	-webkit-transform: rotate(180deg);	/* Safari and Chrome */
	-o-transform: rotate(180deg);		/* Opera */
	-moz-transform: rotate(180deg);		/* Firefox */
}
.MainLogin {
	width: 100px;
	position: absolute;
	height: 0;
	overflow: hidden;
	top: 70px;
	right: 15px;
	z-index: 200;
	background:#3BBBF2;
	transition: all 0.5s;
	-moz-transition: all 0.5s;	/* Firefox 4 */
	-webkit-transition: all 0.5s;	/* Safari 和 Chrome */
	-o-transition: all 0.5s;	/* Opera */
}
.MainLogin li {
	height: 40px;
	padding-top: 10px;
	color: #ffffff;
	border-bottom: 1px solid #29abe2;
	text-align: center;
}
.MainLogin li a {
	color: #ffffff;
}
/*内容*/
.content {
	width: calc(100% - 200px);
	float: left;
}
.content-box {
	padding: 0 20px;
}
/*左侧导航*/
.header-nav {
	width: 200px;
	min-height: 1px;
	float: left;
}
/*头像*/
.header-top .portrait {
	width: 40px;
	height: 40px;
	padding: 2px;
	margin-top: 5px;
	margin-bottom: 0;
	margin-right: 20px;
	display: inline-block;
	margin-left: 0;
	float: right;
}
.header-top .portrait-img {
	width: 36px;
	height: 36px;
}
.portrait {
	width: 90px;
	height: 90px;
	border-radius: 50%;
	background: #ffffff;
	margin-top: 35px;
	margin-bottom: 20px;
	margin-left: 54px;
	padding: 5px;
	overflow: hidden;
}
.portrait-img {
	width: 80px;
	height: 80px;
	border-radius: 50%;
}
.portrait-img img {
	width: 100%;
}
/*导航定位*/
.header-fixed {
	background: #29abe2;
	position: fixed;
	width: 200px;
	height: 100%;
	box-shadow: 2px 0px 5px rgba(143,143,143,0.5);
}
.navigation {
	color: #ffffff;
	cursor: pointer;
}
.navigation li span {
	padding-left: 15px;
}
.navigation-list {
	padding: 15px 0;
	padding-right: 60px;
}
.navigation-list a {
	color: #ffffff;
	font-size: 16px;
	margin-left: 30px;
}
.MainNav_lists {
	display: none;
}
.MainNav_listsActive {
	display: block;
}
.MainNav_lists li {
	padding: 15px 10px;
}
.MainNav_lists li a {
	color: #ffffff;
	font-size:14px;
}

.MainNav_lists li .activeB {
	opacity: 1;
}
.navigation .active {
	background: #4BC2F7;
}
.navigation a:hover {
	color: #ffffff;
}
.icon-arrow-left {
	opacity:0;
}
.MainNav_lists li:hover .icon-arrow-left {
	opacity: 1;
}
.navigation .icon-home-w,.navigation .icon-peoples-w,.navigation .icon-people-w {
	display: none;
}
.navigation .icon-home,.navigation .icon-peoples,.navigation .icon-people {
	display: inline-block;
}
.navigation .active .icon-home-w,.navigation .active .icon-peoples-w,.navigation .active .icon-people-w {
	/*display: inline-block;*/
}
.navigation .active .icon-home,.navigation .active .icon-peoples,.navigation .active .icon-people {
	/*display: none;*/
}
.navigation  .icon-arrow-left {
	margin-left: 15px;
}

/*文字*/
.footer-box {
	padding: 0 20px;
}
.font-16,.Login {
	margin-top: 15px;
	font-size: 14px;
	color: #ffffff;
}
.Login {
	margin-top: 30px;
}
.Login a {
	color: #ffffff;
}
/*logo*/
.Company-logo {
	padding-top: 30px;
	width: 100%;
	background: #ffffff;
	height: 170px;
}

.opation {
	width: 100%;
}
.footer {
	width: 100%;
	background: #333333;
	color: #ffffff;
	padding: 30px 0 30px 0;
	line-height: 2;
	font-size:14px;
}
.App-footer {
	display: none;
	background: #1b212c;
	color: #ffffff;
	font-size: 20px;
	padding: 20px 10px;
	width: 100%;
	margin-bottom: -12px;
}
.footer span,.App-footer span {
	display: inline-block;
}

/*搜索*/
/*顾问*/
.SEARCH {
	background: #ffffff;
	width: 100%;
	padding-bottom: 50px;
}
.SEARCH form {
	width: 70%;
	margin: 0 auto;
	padding-top: 50px;
}
.SEARCH input {
	width: calc(100% - 145px);
	height: 40px;
	border: 2px solid #f5989d;
	box-sizing: border-box;
	padding-left: 15px;
}
.SEARCH button {
	background: #f5989d;
	width: 140px;
	height: 40px;
	border: none;
	color: #ffffff;
	margin:0;
	margin-left: -5px;
	padding: 0;
}
.SEARCH .Hot {
	font-size: 14px;
	color: #999999;
	margin-top: 15px;
	cursor: pointer;
}
.SEARCH .Hot span {
	margin-right: 15px;
}
.SEARCH .Hot b {
	font-size: 14;
	font-weight:500;
}
.SEARCH .Options {
	margin-top: 20px;
	display: none;
	position: relative;
}
.SEARCH .Options .lists .list-option {
	padding-top: 5px;
}
.SEARCH .Options .lists .option {
	width: calc(100% - 150px);
	height: 32px;
	overflow: hidden;
}
.SEARCH .Options .lists .option p{
	color: #666666;
	font-size: 14px;
}
.SEARCH .Options .lists .option p input {
	width: 60px;
	height: 24px;
	border: 1px solid #cccccc;
	margin-top: 15px;
}
.SEARCH .Options .lists .option span:hover .option-box {
	display: inline-block;
}
.SEARCH .Options .lists .option .active {
	background: #f5989d;
	padding: 5px;
	color: #ffffff;
}
.SEARCH .Options .lists {
	width: 100%;
	display: inline-block;
	margin-top: 5px;
}
.SEARCH .Options .lists b {
	color: #666666;
	margin-right: 5px;
	font-size:14px;
	font-weight:500;
}
.SEARCH .Options .lists .list-op-b {
	width: 80px;
	display: inline-block;
	font-size:16px;
	font-weight:500;
}
.SEARCH .Options .lists span {
	color: #999999;
	cursor: pointer;
	padding: 5px;
	display: inline-block;
	font-size:14px;
}
.SEARCH .Options .lists span:hover {
	background: #f5989d;
	color: #ffffff;
}
.SEARCH .Options .lists span .option-box div {
	width: 100%;
}
.SEARCH .Options .lists span .option-box {
	display: none;
	position: absolute;
	width: 230px;
	margin-left: -5px;
	padding: 5px 10px;
	background: #ffffff;
	z-index: 99999;
	box-shadow: 0 0 10px rgba(0,0,0,0.3);
}
.SEARCH .Options .lists .MORE {
	cursor: pointer;
	padding-top: 5px;
}
.SEARCH .Options .lists .MORE .MORE-IMG {
	transform: rotate(180deg);
	-ms-transform: rotate(180deg);		/* IE 9 */
	-webkit-transform: rotate(180deg);	/* Safari and Chrome */
	-o-transform: rotate(180deg);		/* Opera */
	-moz-transform: rotate(180deg);		/* Firefox */
}
.SEARCH .Options .lists div {
	float: left;
}
.appear,.disappear {
	margin-right: 5px;
}
.disappear {
	display: none;
}
.LISTS-ALL {
	background: #f0f0f0;
	position: absolute;
	width:  calc(100% + 40px) !important;
	top: -5px;
	margin: 0 -20px;
	padding: 20px;
	right: 0;
}
/*高级搜索*/
.SESARCH-TOP input {
	width: calc(100% - 145px - 145px);
}
.SESARCH-TOP .TOP {
	margin-left: 5px;
	border-radius: 3px;
	background: #46c1f5;
	padding: 9px 0;
	display: inline-block;
	text-align: center;
	display: inline-block;
	width: 140px;
	color: #ffffff;
	cursor: pointer;
}
.SESARCH-TOP .TOP .TOP-ADD {
	margin-left: 5px;
}
.SESARCH-TOP .TOP .TOP-REMOVE {
	margin-left: 5px;
	display: none;
}
.SEARCH .Options .lists span .option-box ul,.SEARCH .Options .lists span .option-box b {
	font-size: 14px;
	color: #999999;
}
.SEARCH .Options .lists span .option-box b {
	font-size: 14px;
	color: #333333;
}
.SEARCH .Options .lists span .option-box ul {
	display: none;
}
.SEARCH .Options .lists span .option-box ul li input {
    width: 15px;
    height: 15px;
	margin-left: 20px;
}
.SEARCH .Options .lists span .option-box ul li {
	margin-top: 5px;
}

/*手机端搜索*/
.APP-SEARCH {
	display: none;
    position: absolute;
    width: 100%;
    z-index: 999;
    /*height: 100%;*/
    /*background: rgba(0,0,0,0.4); */
}
.APP-SEARCH ul li {
	width: 25%;
	float: left;
	text-align: center;
	height: 30px;
	font-size: 14px;
	background: #ffffff;
	border-bottom: 1px solid #e2e0e0;
	border-right: 1px solid #e2e0e0;
	box-sizing: border-box;
	padding-top: 5px;
}
.APP-SEARCH .TABLE-PANEL {
	display: none;
	width: 100%;
	background: #ffffff;
}
.APP-SEARCH .TABLE-PANEL .Collapse {
	width: 100%;
	padding: 5px 0;
	text-align: center;
}
.APP-SEARCH .active {
	display: inline-block;
}
.APP-SEARCH ul li.active {
	color: #f5989d;
}
.APP-SEARCH ul li .remove {
	display: none;
}
.APP-SEARCH ul li.active .remove {
	display: inline-block;
}
.APP-SEARCH ul li.active .add {
	display: none;
}
.APP-SEARCH .TABLE-PANEL div p {
	padding: 5px;
	border-bottom: 1px solid #e2e0e0;
	font-size:14px;
}
.APP-SEARCH .TABLE-PANEL .leibie p {
	padding: 10px 0;
	margin-left: 10px;
	color: #f5989d;
	font-size: 14px;
	border-bottom: 1px solid #e5e3e3;
}
.APP-SEARCH .TABLE-PANEL div .leibie.active {
	width: 100%;
}
.APP-SEARCH .TABLE-PANEL div .leibie.active .category {
	display: inline-block;
}
.APP-SEARCH .TABLE-PANEL div .city {
	padding-left: 10px;
	padding-top: 10px;
	font-size:14px;
	color:#f5989d;
}
.APP-SEARCH .TABLE-PANEL ul {
	width: 100%;
    display: none;
}
.APP-SEARCH .TABLE-PANEL .cityCategorys {
	display: inline-block;
	width: 100%;
}
.APP-SEARCH .TABLE-PANEL ul.show-con {
	display: inline-block;
}
.APP-SEARCH .TABLE-PANEL ul li {
	width: calc(100% - 20px);
    display: inline-block;
    margin-left: 20px;
}
.APP-SEARCH .TABLE-PANEL ul li {
	text-align: left;
}
.APP-SEARCH .TABLE-PANEL .category {
	display: none;
}
.APP-SEARCH .TABLE-PANEL .category .cateGory {
	color: #666666;
}
.APP-SEARCH .TABLE-PANEL .category .cateGory.active {
	height: auto;

}
.APP-SEARCH .TABLE-PANEL .category .category-list li {
	margin-left: 30px;
	color: #999999;
	width: calc(100% - 30px);
}
.APP-SEARCH .TABLE-PANEL .category .category-list .category-lists.active .CATE-add {
	display: none;
}
.APP-SEARCH .TABLE-PANEL .category .category-list .category-lists.active .CATE-remove {
	display: inline-block;
}
.APP-SEARCH .TABLE-PANEL .category .cateGory .ARROWDOWN {
    width: 20px;
    float: right;
    margin-right: 15px;
    margin-top: 3px;
}
.APP-SEARCH .TABLE-PANEL .category .cateGory .cate-remove {
	display: none;
}
.APP-SEARCH .TABLE-PANEL .category li.cateGory.active .cate-add {
	display: none;
}
.APP-SEARCH .TABLE-PANEL .category li.cateGory.active .cate-remove {
	display: inline-block;
}

.APP-SEARCH .TABLE-PANEL .category .active img.ARROWDOWN {
	transform: rotate(180deg);
	-ms-transform: rotate(180deg);		/* IE 9 */
	-webkit-transform: rotate(180deg);	/* Safari and Chrome */
	-o-transform: rotate(180deg);		/* Opera */
	-moz-transform: rotate(180deg);		/* Firefox */
}
.CATE-remove {
	display: none;
}
.APP-SEARCH .TABLE-PANEL .cityCategorys {
	padding: 15px;
	border-bottom: 1px solid #e5e3e3;
}
.APP-SEARCH .TABLE-PANEL .cityCategorys span {
	width: 100%;
	display: inline-block;
	height: 30px;
	padding-top: 5px;
	background: #e6e6e6;
	color: #666666;
}
.APP-SEARCH .TABLE-PANEL .cityCategorys li.active span {
	background: #f5989d;
	color: #ffffff;
}
.APP-SEARCH .TABLE-PANEL .cityCategorys li {
	border: none;
    float: left;
    width: 25%;
    padding: 5px;
    margin: 0;
    height: 40px;
    text-align: center;
}
@media screen and (max-width: 736px) {
    .panel .info .font-blue a{font-size:18px;}
	.info{margin-top:10px;}
	/*APP－导航*/
	.HeaderTop {
		display: block;
	}
	.header-top {
		display: block;
	}
	.header-fixed {
		display: none;
	}
	.header-nav {
		display: none;
	}
	.footer,.footer-box {
		display: none;
		font-size: 14px;
	}
	.App-footer {
		display: inline-block;
		font-size: 12px;
	}
	/*搜索*/
	.SEARCH {
		display: none;
	}
	.APP-SEARCH {
		display: block;
	}
}