
.header-top {
	display: none;
	background: #29abe2;
	height: 70px;
	padding: 0 20px;
	position: relative;
}
.header-top .PortraitImg img {
	width: 20px;
}
.HeaderTopFixed {
	position: fixed;
	width: 100%;
	z-index: 999999999;
	top: 0;
}
.HeaderTop {
	width: 100%;
	height: 70px;
	display: none;
}
.MainNav {
	position: absolute;
	top: 70px;
	left: 0;
	width: 100%;
	height: 1px;
	overflow: hidden;
	background:#29abe2;
	z-index: 200;
	cursor: pointer;
	transition: all 0.5s;
	-moz-transition: all 0.5s;	/* Firefox 4 */
	-webkit-transition: all 0.5s;	/* Safari 和 Chrome */
	-o-transition: all 0.5s;	/* Opera */
}
li.MainNav_list.active {
	background: #43B5EE;
}
.MainNav a {
	color: #ffffff;
	padding-left: 15px;
}
.MainNav a:hover {
	color: #ffffff;
}
.MainNav .MainNav_lists li a {
	display: inline-block;
	width: 100%;
	padding-top: 0px;
	padding-left: 80px;
}
.MainNav .MainNav_lists li b {
	float: right;
	margin-top: 5px;
	margin-right: 15px;
}
.MainNav_list .icon-arrow-left-w {
	float: right;
	margin-right: 15px;
}
.MainNav_list b {
	display: inline-block;
}
.MainNav li {
	background: #3BBBF2;
	width: 100%;
	height: 46px;
	padding-top: 12px;
	font-size: 14px;
	color: #ffffff;
	padding-left: 15px;
	border-bottom: 1px solid #29abe2;
}

.header-top-nav {
	width: 35px;
	height: 22px;
	padding-top: 25px;
}
.header-top-nav img {
	width: 60%;
}
.arrow-top {
	float: right;
	margin-top: 25px;
	display: inline-block;
	transition: all 0.5s;
	-moz-transition: all 0.5s;	/* Firefox 4 */
	-webkit-transition: all 0.5s;	/* Safari 和 Chrome */
	-o-transition: all 0.5s;	/* Opera */
}
.arrow-top img {
	width: 20px;
	
}
.PortraitImg {
	transform: rotate(180deg);
	-ms-transform: rotate(180deg);		/* IE 9 */
	-webkit-transform: rotate(180deg);	/* Safari and Chrome */
	-o-transform: rotate(180deg);		/* Opera */
	-moz-transform: rotate(180deg);		/* Firefox */
}
.MainLogin {
	width: 100px;
	position: absolute;
	height: 0;
	overflow: hidden;
	top: 100px;
	right: 15px;
	z-index: 200;
	background:#3BBBF2;
	transition: all 0.5s;
	-moz-transition: all 0.5s;	/* Firefox 4 */
	-webkit-transition: all 0.5s;	/* Safari 和 Chrome */
	-o-transition: all 0.5s;	/* Opera */
}
.MainLogin li {
	height: 60px;
	padding-top: 15px;
	color: #ffffff;
	border-bottom: 1px solid #29abe2;
	text-align: center;
}
.MainLogin li a {
	color: #ffffff;
}
/*内容*/
.content {
	width: calc(100% - 200px);
	float: left;
}
.content-box {
	padding: 0 20px;
}
/*左侧导航*/
.header-nav {
	width: 200px;
	min-height: 1px;
	float: left;
}
/*头像*/
.header-top .portrait {
	width: 50px;
	height: 50px;
	padding: 2px;
	margin-top: 10px;
	margin-bottom: 0;
	margin-right: 20px;
	display: inline-block;
	margin-left: 0;
	float: right;
}
.header-top .portrait-img {
	width: 46px;
	height: 46px;
}
.portrait {
	width: 90px;
	height: 90px;
	border-radius: 50%;
	background: #ffffff;
	margin-top: 35px;
	margin-bottom: 50px;
	margin-left: 54px;
	padding: 5px;
	overflow: hidden;
}
.portrait-img {
	width: 80px;
	height: 80px;
	border-radius: 50%;
}
.portrait-img img {
	width: 100%;
}
/*导航定位*/
.header-fixed {
	background: #29abe2;
	position: fixed;
	width: 200px;
	height: 100%;
	box-shadow: 2px 0px 5px rgba(143,143,143,0.5);
}
.navigation {
	color: #ffffff;
	cursor: pointer;
}
.navigation li span {
	padding-left: 15px;
}
.navigation-list {
	padding: 15px 0;
	padding-right: 60px;
}
.navigation-list a {
	color: #ffffff;
	font-size: 18px;
	margin-left: 30px;
}
.MainNav_lists {
	display: none;
}
.MainNav_listsActive {
	display: block;
}
.MainNav_lists li {
	padding: 15px 10px;
}
.MainNav_lists li a {
	color: #ffffff;
}

.MainNav_lists li .activeB {
	opacity: 1;
}
.navigation .active {
	background: #4BC2F7;
}
.navigation a:hover {
	color: #ffffff;
}
.icon-arrow-left {
	opacity:0;
}
.MainNav_lists li:hover .icon-arrow-left {
	opacity: 1;
}
.navigation .icon-home-w,.navigation .icon-peoples-w,.navigation .icon-people-w {
	display: none;
}
.navigation .icon-home,.navigation .icon-peoples,.navigation .icon-people {
	display: inline-block;
}
.navigation .active .icon-home-w,.navigation .active .icon-peoples-w,.navigation .active .icon-people-w {
	/*display: inline-block;*/
}
.navigation .active .icon-home,.navigation .active .icon-peoples,.navigation .active .icon-people {
	/*display: none;*/
}
.navigation  .icon-arrow-left {
	margin-left: 15px;
}

/*文字*/
.footer-box {
	padding: 0 20px;
}
.font-16,.Login {
	margin-top: 15px;
	font-size: 16px;
	color: #ffffff;
}
.Login {
	margin-top: 50px;
}
.Login a {
	color: #ffffff;
}
/*logo*/
.Company-logo {
	padding-top: 30px;
	width: 100%;
	background: #ffffff;
	height: 170px;
}

.opation {
	width: 100%;
}
.footer {
	width: 100%;
	background: #333333;
	color: #ffffff;
	padding: 30px 0 30px 0;
	line-height: 2;
}
.App-footer {
	display: none;
	background: #1b212c;
	color: #ffffff;
	font-size: 20px;
	padding: 20px 10px;
	width: 100%;
	margin-bottom: -12px;
}
.footer span,.App-footer span {
	display: inline-block;
}
@media screen and (max-width: 736px) {
	/*APP－导航*/
	.HeaderTop {
		display: block;
	}
	.header-top {
		display: block;
	}
	.header-fixed {
		display: none;
	}
	.header-nav {
		display: none;
	}
	.footer,.footer-box {
		display: none;
		font-size: 14px;
	}
	.App-footer {
		display: inline-block;
		font-size: 12px;
	}
}