
.Company-profile-list {
	width: 100%;
	display: inline-block;
	background:url("../images/index-company/company.png") top center;
	background-size: 100%;
	padding: 80px 30px;
	margin-top: 20px;
	background-attachment: fixed;
}
.content-img {
	width: 100%;
	overflow: hidden;
	position: relative;
}
.company-owl-img-a{
	width: 100%;
	overflow: hidden;
	text-align: center;
}
.company-owl-img-a img {
	width: 100%;
}
.company-owl-font-a .title-con {
	padding: 0 15%;
	height: 80px;
	overflow: hidden;
}
.img-position {
	opacity: 0;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	text-align: center;
	background: url("../images/header/VIEW.png") no-repeat center rgba(0,0,0,0.5);
	background-size: 114px;
	z-index: 1;
	transition: all 0.5s;
	-moz-transition: all 0.5s;	/* Firefox 4 */
	-webkit-transition: all 0.5s;	/* Safari 和 Chrome */
	-o-transition: all 0.5s;	/* Opera */
}
.img-position:hover {
	opacity: 1;
}
.content-img img {
	width: 100%;
}
.info-box {
	padding: 15px 10%;
}
/*优秀顾问*/
.box-consultant .main-title {
	margin: 50px 0;
}
/*内容盒子－模型*/
.box-model-content {
	background: #ffffff;
	padding: 10px;
	width: 100%;
	overflow: hidden;
	margin-bottom: 80px;
	box-shadow: 0px 2px 8px rgba(0,0,0,0.1);
}
.box-model-info {
	margin-top: 10px;
	font-size: 16px;
}
.box-model-img {
	width: 100%;
	overflow: hidden;
}
.box-model-content img {
	width: 100%;
}
.companybanner {
		padding:15px;
		background-color: #fff;
		box-shadow: 0px 2px 8px rgba(0,0,0,0.1);
}

/*流式布局样式*/
.Company-profile {
	padding: 0px;
}
.Company-profile_a{padding:0px 22px 0px 14px;}
.Fbox{
    position:relative;margin-bottom: 82px;padding:0 0 0 15px;
}
.Fbox li{
    height:auto;padding: 10px 20px 10px 0;cursor: pointer;
}
.Fbox li>div{
    width:100%;background: #fff;box-shadow: 0px 1px 8px #ccc;padding:15px;
}
.Fbox li>div>a{
    text-decoration: none;color: #999;
}
.Fbox li>div img{
    width:100%;
/*    max-height: 275px;*/
    display: block;
}
.Fbox li>div h1{
    font-size: 16px;text-align: center;color:#333;
}
.Fbox li>div p{
    font-size: 14px;line-height: 26px;color:#999;
}

@media screen and (max-width: 736px) {
	.font-a a{
	    font-size: 14px;
    }
    .shanchang b{font-weight:500;}
    .panel{ margin-bottom:10px;}
	.info-box {
		padding: 15px 0;
	}
	.Company-profile{
		margin-top: 30px;
	}
	.Company-profile-list {
		padding: 10px 0px;
	}
	.bg-white {
		padding:10px 10px 0px 10px;
	}
	.content {
		width: 100%;
	}
	.companybanner {
		margin-top: 10px;padding:10px;background-color: #fff;
	}
	.company-owl-font-a .title-con {
		padding: 0;
	}
    .Fbox{
        padding: 0 0 0 8px;margin-bottom: 22px;
    }
    .Fbox li{
       padding: 4px 8px 4px 0;
    }
    .Fbox li>div p{
        line-height: 26px;
    }
    .Fbox li>div{
        padding: 10px;
    }
}

