
@media screen and (min-width: 1500px) {
	.footer-box {
		margin-top: 120px;
	}
}
/*登录*/
.LoginBbox {
	width: calc(100% - 40%);
	background: #ffffff;
	margin: 50px auto;

}
.login-tit {
	background: url("../../images/login/bg.png");
	width: 100%;
	height: 70px;
	padding-top: 20px;
	color: #333333;
	font-size: 24px;
	text-align: center;
}
.correct {
	padding-top: 5px;
	display: none;
}
.people {
	background: url("../../images/login/6.png") no-repeat center right 10px;
}
.password {
	background: url("../../images/login/8.png") no-repeat center right 10px;
}
.password-red {
	background: url("../../images/login/9-1.png") no-repeat center right 10px;
}
.phone {
	background: url("../../images/login/4.png") no-repeat center right 10px;
}
.email {
	background: url("../../images/login/9.png") no-repeat center right 10px;
}
.com-icon {
	background: url("../../images/login/10.png") no-repeat center right 10px;
}
.error {
	color: #ff0000;
	font-size: 12px;
	margin-top: 10px;
	display: none;
}
.Login-con {
	padding: 80px 17%;
}
.form-group {
	margin-bottom: 30px;
}
.form-control {
	height: 30px;
}
.form-horizontal .control-label {
	color: #333333;
	font-size: 14px;
}
.form-horizontal .control-label span {
	color: #ff000f;
	line-height: 10px;
}
.checkbox label,.checkbox a {
	color: #999999;
	font-size: 14px;
}
.loginUp,.loginUp a {
	font-size: 14px;
	color: #999999;
	text-align: center;
	margin-top: 30px;
}
.loginUp a {
	color: #f26c4f;
	margin-left: 10px;
}

/*注册*/
.SignuBox {
	margin: 50px auto;
	width: calc(100% - 20%);
	min-width: 600px;
	display: inline-block;
	margin-left: 10%;
	background: #ffffff;
	box-shadow: 0 4px 20px rgba(0,0,0,0.3);
	padding: 40px 10%;
}
.SignuBox .sign-tit {
	width: 100%;
	display: inline-block;
	text-align: center;
	color: #999999;
	font-size: 18px;
}
.SignuBox .sign-tit li {
	cursor: pointer;
	float: left;
	width: calc(100%/3);
	padding: 20px 0;
}
.SignuBox .sign-tit li a{
	color: #999999;
}
.SignuBox .sign-tit .active {
	border-bottom: 5px solid #f5989d;
	color: #333333;
}
.SignuBox .btn {
	background: #ffffff;
	width: 100%;
	border: 1px solid #cccccc;
	height: 30px;
	border-radius: 0;
}
.SignuBox .btn-signup {
	background: #f26c4f;
	height: 34px;
	border: none;
}
.SignuBox .btn-signup:hover {
	background: #f26c4f;
}
.tiaokuan a {
	color: #333333;
}
.SignuBox .loginUp {
	text-align: left;
}
.SignuBox .loginUp a {
	color: #29abe2;
	font-size: 16px;
}
input.form-control {
	box-shadow: none;
	border-radius: 0;
	
}
button.btn-default {
	height: 40px;
	width: 100%;
	background: #29abe2;
	border: none;
	color: #ffffff;
	border-radius: 0;
	font-size: 16px;
}
button.btn-default:hover {
	background: #29abe2;
	border: none;
	color: #ffffff;
}
/*忘记密码*/
.forgetBox {
	margin: 50px auto;
	width: calc(100% - 20%);
	min-width: 600px;
	max-width: 1440px;
}
.Proofread {
	color: #999999;
	font-size: 12px;
	padding-top: 5px;
}
.Proofread span {
	color: #b90303;
	cursor: pointer;
}
.forgetBox .FORGET {
	
	background: #ffffff;
	border: 5px solid #fc9ca1;
	
}
.Login-con {
	width: 500px;
	margin: 60px auto;
	margin-left: calc(50% - 250px);
	padding: 0;
	display: inline-block;
}
.FORGET .sign-tit {
	padding: 70px 5% 0 5%;
	display: inline-block;
	width: 100%;
	text-align: center;
	color: #999999;
}
.FORGET .sign-tit li {
	padding-bottom: 20px;
	font-size-adjust: 18px;
	border-bottom: 5px solid #e9e9e9;
}
.FORGET .sign-tit li img {
	margin-right: 10px;
}

.FORGET .sign-tit li.active {
	border-bottom: 5px solid #fc9ca1;
	color: #333333;
}
.FORGET .btn-signup {
	background: #f26c4f;
}
.FORGET .btn-signup a {
	color: #ffffff;
}
.FORGET .btn-signup:hover {
	background: #f26c4f;
	color: #ffffff;
}
.FORGET .btn-YAN {
	border-radius: 0;
	background: #ffffff;
	border: 1px solid #cccccc;
}

.forget-name {
	padding-top: 5px;
	font-size: 16px;
	color: #999999;
}
.success {
	font-size: 14px;
	color: #999999;
	margin-top: 5px;
}
.success a {
	color: #ff0000;
}
.success-p {
	margin-top: 15px;
}
.footer {
			margin-top: 120px;
		}
@media screen and (max-width: 736px) {
	.ProofreadBox,.YAN {
		margin-top: 10px;
	}
	.LoginBbox {
		width: 100%;
		min-width: 100%;
		margin: 0;
	}
	/*登录*/
	.ReturnPage {
		display: none;
	}
	.login-tit {
		height: 60px;
		font-size: 18px;
	}
	.Login-con {
		padding: 30px 10%;
		width: 100%;
		margin: 0;
	}
	.SignuBox {
		width: 100%;
		min-width: 100%;
		margin: 0;
		padding: 0;
	}
	.SignuBox .sign-tit {
		font-size: 14px;
	}
	.forgetBoxImg {
		display: none;
	}
	.forgetBox {
		width: 100%;
		max-width: 100%;
		min-width: 100%;
		margin: 0;
	}
	.FORGET .sign-tit li {
		padding: 10px 0;
		display: inline;
	}
	.FORGET .sign-tit li img {
		width: 15px;
		margin-right: 3px;
	}
	.forgetBox .FORGET {
		box-shadow: none;
		border: none;
	}
	.FORGET .sign-tit {
	    padding: 15px 0;
	    font-size: 12px;
	}
	.success-img img {
		width: 60px;
		height: 60px;
		margin-top: 20px;
	}
	.form-group {
		margin-bottom: 20px;
	}
	body {
		background: #ffffff;
	}
	.Login-con4 {
		padding: 30px 0;
	}
}











