<!DOCTYPE html>
<html lang="en">
<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <!--优先使用 IE 最新版本和 Chrome-->
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <!--360 使用Google Chrome Frame-->
    <meta name="renderer" content="webkit">
    <!--百度禁止转码-->
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <!-- 是否启用 WebApp 全屏模式 -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no, email=no,adress=no" searchtype="map" />
    <!-- 针对手持设备优化，主要是针对一些老的不识别viewport的浏览器，比如黑莓 -->
    <meta name="HandheldFriendly" content="true">
    <!-- uc强制竖屏 -->
    <meta name="screen-orientation" content="portrait">
    <!-- QQ强制竖屏 -->
    <meta name="x5-orientation" content="portrait">
    <meta http-equiv="pragma" content="no-cache">
    <meta http-equiv="cache-control" content="no-cache,must-revalidate">
    <meta http-equiv="expires" content="0">
    <meta name="viewport" content="width=device-width,height=device-height,initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta name="screen-orientation" content="portrait">
    <meta name="x5-orientation" content="portrait">

	<title>Document</title>
	<link rel="stylesheet" href="../../public/css/owl.carousel.css">
	<link rel="stylesheet" href="../../public/css/owl.theme.css">
	<link rel="stylesheet" href="../../public/css/bootstrap.css">
	<link rel="stylesheet" href="../../public/css/animate.css">
	<link rel="stylesheet" href="../../public/css/comment.css">
	<link rel="stylesheet" href="../../public/css/head.css">
	<link rel="stylesheet" href="../../public/css/index.css">
	<link rel="stylesheet" href="../../public/css/company/index.css">
	<link rel="stylesheet" href="../../public/css/search.css">
</head>
<body>
<!-- city数据 -->
<div class="cityMoreList">
	<div class="box">
		<div class="top">
			<span class="left">选择城市</span>
			<span class="close2 right"><img src="../../public/images/header/CLOSE2.png" alt=""></span>
		</div>
		<div class="content">
			<ul class="CITYMORELIST">
				<li class="active">
					<div class="sheng">
						热门城市：
					</div>
					<div class="city">
						<span class="active">上海</span>
						<span>上海</span>
						<span>上海</span>
						<span>上海</span>
						<span>上海</span>
					</div>
				</li>
				<li>
					<div class="sheng">
						上海：
					</div>
					<div class="city">
						<span>上海</span>
						<span>上海</span>
						<span>上海</span>
						<span>上海</span>
						<span>上海</span>
						<span>上海</span>
						<span>上海</span>
						<span>上海</span>
						<span>上海</span>
						<span>上海</span>
						<span>上海</span>
						<span>上海</span>
						<span>上海</span>
					</div>
				</li>
			</ul>
		</div>
	</div>
</div>
<div class="newsSearch">
	<!-- 搜索 -->
	<div class="appsearch">
		<form action="">
			<img class="sousuo-icon" src="../../public/images/header/MAGNIFYING GLASS.png" alt="">
			<input type="text" placeholder="微科技">
			<button class="appButton">搜索</button>
			<span class="quxiao">取消</span>
		</form>
	</div>
	<div class="jieguo">
		<li>
			金牌顾问
		</li>
		<li>
			金牌顾问
		</li>
		<li>
			金牌顾问
		</li>
	</div>
	<div class="cookies">
		清空搜索记录 
	</div>
</div>
<div class="HeaderTop"></div>
<div class="HeaderTopFixed">
	<div class="header-top">
		<div class="row">
			<div class="col-xs-6">
				<div class="header-top-nav">
					<img class="bounceIn animated" src="../../public/images/header/nav.png" alt="">
				</div>
				<div class="s-rukou S_OPEN">
					<img src="../../public/images/header/MAGNIFYING GLASS.png" alt="">
				</div>
			</div>
			<div class="col-xs-6 text-right">
				<!-- 头像 -->
				<span class="arrow-top">
					<img class="bounceIn animated" src="../../public/images/header/arrow-top.png" alt="">
				</span>
				<span class="portrait">
					<div class="portrait-img">
						<img class="bounceIn animated" src="../../public/images/header/people.png" alt="">
					</div>
				</span>
			</div>
		</div>
		<ul class="MainNav">
				<li class="MainNav_list active">
					<b class="icon-home"></b>
					<a>企业</a>
					<!-- <b class="icon-arrow-left-w"></b> -->
				</li>
				<div class="MainNav_lists MainNav_listsActive">
					<li><a href="../index.html">明星企业<b class="icon-arrow-left"></b></a></li>
					<li><a href="index.html">更多企业<b class="icon-arrow-left activeB"></b></a></li>
				</div>
				<li class="MainNav_list">
					<b class="icon-peoples"></b>
					<a>人才</a>
					<!-- <b class="icon-arrow-left-w"></b> -->
				</li>
				<div class="MainNav_lists">
					<li><a href="../Cattle/index.html">明星人才<b class="icon-arrow-left"></b></a></li>
					<li><a href="../Cattle/cattle.html">更多人才<b class="icon-arrow-left"></b></a></li>
				</div>
				<li class="MainNav_list">
					<b class="icon-people"></b>
					<a>顾问</a>
					<!-- <b class="icon-arrow-left-w"></b> -->
				</li>
				<div class="MainNav_lists">
					<li><a href="../Consultant/detail.html">金牌顾问<b class="icon-arrow-left"></b></a></li>
					<li><a href="../Consultant/advanced.html">更多顾问<b class="icon-arrow-left"></b></a></li>
				</div>
		</ul>
		<ul class="MainLogin">
			<li>登录</li>
			<li>注册</li>
		</ul>
	</div>
</div>
<div class="content-fluid">
		<!-- kong -->
		<div class="header-nav">
		</div>
		<!-- 导航 -->
		<div class="header-fixed padding-no">
		<!-- logo -->
			<div class="Company-logo text-center">
				<a href="../index.html"><img class="bounceIn animated" src="../../public/images/header/n-logo.png" alt=""></a>
			</div>
			<!-- 头像 -->
			<div class="portrait">
				<div class="portrait-img">
					<img class="bounceIn animated" src="../../public/images/header/people.png" alt="">
				</div>
			</div>
			<!-- 导航 -->
			<ul class="navigation text-right">
					<li class="navigation-list active ">
						<b class="icon-home-w"></b>
						<b class="icon-home"></b>
						<a href="../index.html">企业</a>
					</li>
					<div class="MainNav_lists  MainNav_listsActive">
						<li><a href="../index.html">明星企业</a><b class="icon-arrow-left"></b></li>
						<li><a href="index.html">更多企业</a><b class="icon-arrow-left activeB"></b></li>
					</div>
					<li class="navigation-list">
						<b class="icon-peoples-w"></b>
						<b class="icon-peoples"></b>
						<a href="../Cattle/index.html">人才</a>
					</li>
					<div class="MainNav_lists ">
						<li><a href="../Cattle/index.html">明星人才</a><b class="icon-arrow-left "></b></li>
						<li><a href="../Cattle/index.html">更多人才</a><b class="icon-arrow-left"></b></li>
					</div>
					<li class="navigation-list ">
						<b class="icon-people-w"></b>
						<b class="icon-people"></b>
						<a href="../Consultant/index.html">顾问</a>
					</li>
					<div class="MainNav_lists">
						<li><a href="../Consultant/index.html">金牌顾问</a><b class="icon-arrow-left "></b></li>
						<li><a href="../Consultant/advanced.html">更多顾问</a><b class="icon-arrow-left"></b></li>
					</div>
			</ul>
			<p class="text-center Login">
				<a href="/">登录</a> ｜ <a href="/">注册</a>
			</p>
			<p class="text-center font-16">
				京ICP备16003476号
			</p>
		</div>
		<!-- header-end -->
		<!-- 手机端搜索 -->
		<!-- 手机端搜索 -->
				<div class="APP-SEARCH">
					<ul class="app-sel">
						<li>
							<span class="AppJobsTop">行业类别</span>
							<img class="add" src="../../public/images/header/PLAY2.png" alt="">
							<img class="remove" src="../../public/images/header/PLAY3.png" alt="">
						</li>
						<li>
							<span class="AppCityTop">所在城市</span>
							<img class="add" src="../../public/images/header/PLAY2.png" alt="">
							<img class="remove" src="../../public/images/header/PLAY3.png" alt="">
						</li>
						<li>
							<span class="AppMoneyTop">企业性质</span>
							<img class="add" src="../../public/images/header/PLAY2.png" alt="">
							<img class="remove" src="../../public/images/header/PLAY3.png" alt="">
						</li>
						<li>
							<span class="AppTimeTop">企业规模</span>
							<img class="add" src="../../public/images/header/PLAY2.png" alt="">
							<img class="remove" src="../../public/images/header/PLAY3.png" alt="">
						</li>
					</ul>
					<!-- 行业类别 -->
					<div class="TABLE-PANEL">
						<div>
							<div class="leibie">
								<p>计算机/互联网</p>
								<ul class="category">
									<li class="cateGory active">
										<img class="cate-add" src="../../public/images/header/yuan.png" alt="">
										<img class="cate-remove" src="../../public/images/header/duihao.png" alt="">
										IT-品管，技术支持及其他
										<img class="ARROWDOWN" src="../../public/images/header/ARROWDOWN.png" alt="">
									</li>
									<ul class="category-list show-con">
										<li class="category-lists">
											<img class="CATE-add" src="../../public/images/header/yuan.png" alt="">
											<img class="CATE-remove" src="../../public/images/header/duihao.png" alt="">
											IT-管理
										</li>
										<li class="category-lists">
											<img class="CATE-add" src="../../public/images/header/yuan.png" alt="">
											<img class="CATE-remove" src="../../public/images/header/duihao.png" alt="">
											IT-管理
										</li>
										<li class="category-lists">
											<img class="CATE-add" src="../../public/images/header/yuan.png" alt="">
											<img class="CATE-remove" src="../../public/images/header/duihao.png" alt="">
											IT-管理
										</li>
									</ul>
									<li class="cateGory">
										<img class="cate-add" src="../../public/images/header/yuan.png" alt="">
										<img class="cate-remove" src="../../public/images/header/duihao.png" alt="">
										IT-品管，技术支持及其他
										<img class="ARROWDOWN" src="../../public/images/header/ARROWDOWN.png" alt="">
									</li>
									<ul class="category-list">
										<li class="category-lists">
											<img class="CATE-add" src="../../public/images/header/yuan.png" alt="">
											<img class="CATE-remove" src="../../public/images/header/duihao.png" alt="">
											IT-管理
										</li>
										<li class="category-lists">
											<img class="CATE-add" src="../../public/images/header/yuan.png" alt="">
											<img class="CATE-remove" src="../../public/images/header/duihao.png" alt="">
											IT-管理
										</li>
										<li class="category-lists">
											<img class="CATE-add" src="../../public/images/header/yuan.png" alt="">
											<img class="CATE-remove" src="../../public/images/header/duihao.png" alt="">
											IT-管理
										</li>
									</ul>
								</ul>
							</div>
							<div class="leibie">
								<p>人事/行政/高级管理</p>
								<ul class="category">
									<li class="cateGory active">
										<img class="cate-add" src="../../public/images/header/yuan.png" alt="">
										<img class="cate-remove" src="../../public/images/header/duihao.png" alt="">
										IT-品管，技术支持及其他
										<img class="ARROWDOWN" src="../../public/images/header/ARROWDOWN.png" alt="">
									</li>
									<ul class="category-list show-con">
										<li class="category-lists">
											<img class="CATE-add" src="../../public/images/header/yuan.png" alt="">
											<img class="CATE-remove" src="../../public/images/header/duihao.png" alt="">
											IT-管理
										</li>
										<li class="category-lists">
											<img class="CATE-add" src="../../public/images/header/yuan.png" alt="">
											<img class="CATE-remove" src="../../public/images/header/duihao.png" alt="">
											IT-管理
										</li>
										<li class="category-lists">
											<img class="CATE-add" src="../../public/images/header/yuan.png" alt="">
											<img class="CATE-remove" src="../../public/images/header/duihao.png" alt="">
											IT-管理
										</li>
									</ul>
									<li class="cateGory">
										<img class="cate-add" src="../../public/images/header/yuan.png" alt="">
										<img class="cate-remove" src="../../public/images/header/duihao.png" alt="">
										IT-品管，技术支持及其他
										<img class="ARROWDOWN" src="../../public/images/header/ARROWDOWN.png" alt="">
									</li>
									<ul class="category-list">
										<li class="category-lists">
											<img class="CATE-add" src="../../public/images/header/yuan.png" alt="">
											<img class="CATE-remove" src="../../public/images/header/duihao.png" alt="">
											IT-管理
										</li>
										<li class="category-lists">
											<img class="CATE-add" src="../../public/images/header/yuan.png" alt="">
											<img class="CATE-remove" src="../../public/images/header/duihao.png" alt="">
											IT-管理
										</li>
										<li class="category-lists">
											<img class="CATE-add" src="../../public/images/header/yuan.png" alt="">
											<img class="CATE-remove" src="../../public/images/header/duihao.png" alt="">
											IT-管理
										</li>
									</ul>
								</ul>
							</div>
							<div class="leibie">
								<p>生物/制药/医疗/护理</p>
								<ul class="category">
									<li class="cateGory active">
										<img class="cate-add" src="../../public/images/header/yuan.png" alt="">
										<img class="cate-remove" src="../../public/images/header/duihao.png" alt="">
										IT-品管，技术支持及其他
										<img class="ARROWDOWN" src="../../public/images/header/ARROWDOWN.png" alt="">
									</li>
									<ul class="category-list show-con">
										<li class="category-lists">
											<img class="CATE-add" src="../../public/images/header/yuan.png" alt="">
											<img class="CATE-remove" src="../../public/images/header/duihao.png" alt="">
											IT-管理
										</li>
										<li class="category-lists">
											<img class="CATE-add" src="../../public/images/header/yuan.png" alt="">
											<img class="CATE-remove" src="../../public/images/header/duihao.png" alt="">
											IT-管理
										</li>
										<li class="category-lists">
											<img class="CATE-add" src="../../public/images/header/yuan.png" alt="">
											<img class="CATE-remove" src="../../public/images/header/duihao.png" alt="">
											IT-管理
										</li>
									</ul>
									<li class="cateGory">
										<img class="cate-add" src="../../public/images/header/yuan.png" alt="">
										<img class="cate-remove" src="../../public/images/header/duihao.png" alt="">
										IT-品管，技术支持及其他
										<img class="ARROWDOWN" src="../../public/images/header/ARROWDOWN.png" alt="">
									</li>
									<ul class="category-list">
										<li class="category-lists">
											<img class="CATE-add" src="../../public/images/header/yuan.png" alt="">
											<img class="CATE-remove" src="../../public/images/header/duihao.png" alt="">
											IT-管理
										</li>
										<li class="category-lists">
											<img class="CATE-add" src="../../public/images/header/yuan.png" alt="">
											<img class="CATE-remove" src="../../public/images/header/duihao.png" alt="">
											IT-管理
										</li>
										<li class="category-lists">
											<img class="CATE-add" src="../../public/images/header/yuan.png" alt="">
											<img class="CATE-remove" src="../../public/images/header/duihao.png" alt="">
											IT-管理
										</li>
									</ul>
								</ul>
							</div>
						</div>
						<div class="Collapse"><img src="../../public/images/header/CIRCLE_UP.png" alt=""></div>
					</div>
					<!-- 工作城市 -->
					<div class="TABLE-PANEL">
						<div class="AppCity">
							<div class="city">工作城市</div>
							<ul class="cityCategorys">
								<li><span>北京</span></li>
								<li><span>北京</span></li>
								<li><span>北京</span></li>
								<li><span>北京</span></li>
								<li><span>北京</span></li>
								<li><span>北京</span></li>
								<li><span>北京</span></li>
								<li><span>北京</span></li>
							</ul>
							<div class="city">上海</div>
							<ul class="cityCategorys">
								<li><span>上海</span></li>
								
							</ul>
						</div>
						<div class="Collapse"><img src="../../public/images/header/CIRCLE_UP.png" alt=""></div>
					</div>
					<!-- 企业性质 -->
					<div class="TABLE-PANEL">
						<div class="AppMoney">
							<p>企业性质</p>
							<p>企业性质</p>
							
						</div>
						<div class="Collapse"><img src="../../public/images/header/CIRCLE_UP.png" alt=""></div>
					</div>
					<!-- 企业规模 -->
					<div class="TABLE-PANEL">
						<div class="AppTime">
							<p>企业规模</p>
							<p>企业规模</p>
							<p>企业性质</p>
						</div>
						<div class="Collapse"><img src="../../public/images/header/CIRCLE_UP.png" alt=""></div>
					</div>
				</div>
				
		<!-- 右侧内容 -->
		<div class="content">
				<!-- 内容 -->	
				<!-- 搜索 -->
				<div class="SEARCH SESARCH-TOP">
					<form action="">
						<input type="text" placeholder="ui设计师">
						<button>搜索</button>
						<span class="TOP">高级搜索
							<img class="TOP-ADD" src="../../public/images/header/RESIZE1.png" alt="">
							<img class="TOP-REMOVE" src="../../public/images/header/RESIZE2.png" alt="">
						</span>
						<div class="Hot">
							<b>热搜顾问：</b>
							<span>产品设计师</span>
							<span>前端工程师</span>
							<span>销售总监</span>
						</div>
						<!-- 选项 -->
						<div class="Options">
							<div class="lists JOBS-click">
								<div class="list-option">
									<b class="list-op-b">职位类别：</b>
								</div>
								<div class="option">
									<span class="optionActive active">全部</span>
									<span>
										计算机/互联网
										<div class="option-box">
											<div>
												<img class="appear" src="../../public/images/header/add.png" alt="">
												<img class="disappear" src="../../public/images/header/remove.png" alt="">
												<b>IT-品管，技术支持及其他</b>
											</div>
											<ul class="zhiweiClass">
												<li>
													 <input type="radio" name="sex" value="male" />
													 IT-品管，技术支持及其他
												</li>
												<li>
													 <input type="radio" name="sex" value="male" />
													 IT-品管，技术支持及其他
												</li>
												<li>
													 <input type="radio" name="sex" value="male" />
													 IT-品管，技术支持及其他
												</li>
												<li>
													 <input type="radio" name="sex" value="male" />
													 IT-品管，技术支持及其他
												</li>
											</ul>
											<div>
												<img class="appear" src="../../public/images/header/add.png" alt="">
												<img class="disappear" src="../../public/images/header/remove.png" alt="">
												<b>IT-品管，技术支持及其他</b>
											</div>
											<ul class="zhiweiClass">
												<li>
													 <input type="radio" name="sex" value="male" />
													 IT-品管，技术支持及其他
												</li>
												<li>
													 <input type="radio" name="sex" value="male" />
													 IT-品管，技术支持及其他
												</li>
												<li>
													 <input type="radio" name="sex" value="male" />
													 IT-品管，技术支持及其他
												</li>
												<li>
													 <input type="radio" name="sex" value="male" />
													 IT-品管，技术支持及其他
												</li>
											</ul>
											<div>
												<img class="appear" src="../../public/images/header/add.png" alt="">
												<img class="disappear" src="../../public/images/header/remove.png" alt="">
												<b>IT-品管，技术支持及其他</b>
											</div>
											<ul  class="zhiweiClass">
												<li>
													 <input type="radio" name="sex" value="male" />
													 IT-品管，技术支持及其他
												</li>
												<li>
													 <input type="radio" name="sex" value="male" />
													 IT-品管，技术支持及其他
												</li>
												<li>
													 <input type="radio" name="sex" value="male" />
													 IT-品管，技术支持及其他
												</li>
												<li>
													 <input type="radio" name="sex" value="male" />
													 IT-品管，技术支持及其他
												</li>
											</ul>
										</div>
									</span>
									<span>计算机/互联网
										<div class="option-box">
											<div>
												<img class="appear" src="../../public/images/header/add.png" alt="">
												<img class="disappear" src="../../public/images/header/remove.png" alt="">
												<b>IT-品管，技术支持及其他</b>
											</div>
											<ul class="zhiweiClass">
												<li>
													 <input type="radio" name="sex" value="male" />
													 IT-品管，技术支持及其他
												</li>
												<li>
													 <input type="radio" name="sex" value="male" />
													 IT-品管，技术支持及其他
												</li>
												<li>
													 <input type="radio" name="sex" value="male" />
													 IT-品管，技术支持及其他
												</li>
												<li>
													 <input type="radio" name="sex" value="male" />
													 IT-品管，技术支持及其他
												</li>
											</ul>
											<div>
												<img class="appear" src="../../public/images/header/add.png" alt="">
												<img class="disappear" src="../../public/images/header/remove.png" alt="">
												<b>IT-品管，技术支持及其他</b>
											</div>
											<ul  class="zhiweiClass">
												<li>
													 <input type="radio" name="sex" value="male" />
													 IT-品管，技术支持及其他
												</li>
												<li>
													 <input type="radio" name="sex" value="male" />
													 IT-品管，技术支持及其他
												</li>
												<li>
													 <input type="radio" name="sex" value="male" />
													 IT-品管，技术支持及其他
												</li>
												<li>
													 <input type="radio" name="sex" value="male" />
													 IT-品管，技术支持及其他
												</li>
											</ul>
											<div>
												<img class="appear" src="../../public/images/header/add.png" alt="">
												<img class="disappear" src="../../public/images/header/remove.png" alt="">
												<b>IT-品管，技术支持及其他</b>
											</div>
											<ul class="zhiweiClass">
												<li>
													 <input type="radio" name="sex" value="male" />
													 IT-品管，技术支持及其他
												</li>
												<li>
													 <input type="radio" name="sex" value="male" />
													 IT-品管，技术支持及其他
												</li>
												<li>
													 <input type="radio" name="sex" value="male" />
													 IT-品管，技术支持及其他
												</li>
												<li>
													 <input type="radio" name="sex" value="male" />
													 IT-品管，技术支持及其他
												</li>
											</ul>
										</div>
									</span>
								</div>
								<div class="MORE">
									<b class="">更多</b>
									<img src="../../public/images/header/ARROW_DOWN.png" alt="">
								</div>
							</div>
							<div class="lists CITY-click">
								<div class="list-option">
									<b class="list-op-b teshuCity">所在城市：</b>
								</div>
								<div class="option optionSpan">
									<span class="active">不限</span>
									<span>北京</span>
									<span>武汉</span>
									<span>上海</span>
									<span>广州</span>
									<span>北京</span>
									<span>武汉</span>
									
									<p class="cityMore">查看更多</p>
								</div>
								<div class="MORE">
									<b class="">更多</b>
									<img src="../../public/images/header/ARROW_DOWN.png" alt="">
								</div>
							</div>
							
							<div class="lists COMPANY-click">
								<div class="list-option">
									<b class="list-op-b">企业性质：</b>
								</div>
								<div class="option optionSpan">
									<span class="active">不限</span>
									<span>上市公司</span>
									<span>国家机关</span>
									<span>事业单位</span>
									<span>外资企业</span>
									<span>合资企业</span>
									<span>私营企业</span>
									<span>民营企业</span>
									<span>集体企业</span>
									<span>股份制企业</span>
									
								</div>
							</div>
							<div class="lists MOUDLE_click">
								<div class="list-option">
									<b class="list-op-b">企业规模：</b>
								</div>
								<div class="option optionSpan">
									<span class="active">不限</span>
									<span>北京</span>
								</div>
							</div>
					<div class="z-s-change">
						<span>职位类别：<span class="change-JOBS">无</span></span>
						<span>所在城市：<span class="change-CITY">无</span></span>
						<span>企业性质：<span class="change-COMPANY">无</span></span>
						<span>企业规模：<span class="change-MOUDLE">无</span></span>
					</div>
						</div>
					</form>
				</div>
				<!--  优秀顾问 -->
				<div class="advanced-box">
					<div class="main-title main-title-a">
						企业
					</div>
					<div class="container-fluid">
						<div class="row">
							<div class="col-md-6">
                      
								<div class="panel bounceIn animated">
									
										<div class="Portrait">
											<img src="../../public/images/company/zhang.png" alt="">
										</div>
										<div class="companyInfo">
											<div class="top">
												<span class="font-h1 font-a"><a href="detail.html">北京微科锐科技有限公司</a></span>
												<span class="topR"><img src="../../public/images/header/PIN.png" alt=""> 北京-乌鲁木齐</span>
											</div>
											<div class="shanchang">
												<b>顾问推荐理由</b>：微科锐，离您最近老板直接聘用平台，围绕雇主、顾问、雇员三维展开精准服务，您要聘的，就是顾问给您的推荐的。
											</div>
											<div class="box-bottom">
												<span>共<b>5</b>个职位正在招聘</span>
												<a class="more" href="detail.html">
													详情
												</a>
											</div>
										</div>
									</div>
                         
								</div>
								<div class="col-md-6">
								<div class="panel bounceIn animated">
									
										<div class="Portrait">
											<img src="../../public/images/company/zhang.png" alt="">
										</div>
										<div class="companyInfo">
											<div class="top">
												<span class="font-h1 font-a"><a href="detail.html">北京微科锐科技有限公司</a></span>
												<span class="topR"><img src="../../public/images/header/PIN.png" alt=""> 北京</span>
											</div>
											<div class="shanchang">
												<b>顾问推荐理由</b>：微科锐，离您最近老板直接聘用平台，围绕雇主、顾问、雇员三维展开精准服务，您要聘的，就是顾问给您的推荐的。
											</div>
											<div class="box-bottom">
												<span>共<b>5</b>个职位正在招聘</span>
												<a class="more" href="detail.html">
													详情
												</a>
											</div>
										</div>
									</div>
								</div>
								<div class="col-md-6">
								<div class="panel bounceIn animated">
									
										<div class="Portrait">
											<img src="../../public/images/company/zhang.png" alt="">
										</div>
										<div class="companyInfo">
											<div class="top">
												<span class="font-h1 font-a"><a href="detail.html">北京微科锐科技有限公司</a></span>
												<span class="topR"><img src="../../public/images/header/PIN.png" alt=""> 北京</span>
											</div>
											<div class="shanchang">
												<b>顾问推荐理由</b>：微科锐，离您最近老板直接聘用平台，围绕雇主、顾问、雇员三维展开精准服务，您要聘的，就是顾问给您的推荐的。
											</div>
											<div class="box-bottom">
												<span>共<b>5</b>个职位正在招聘</span>
												<a class="more" href="detail.html">
													详情
												</a>
											</div>
										</div>
									</div>
								</div>
								<div class="col-md-6">
								<div class="panel bounceIn animated">
									
										<div class="Portrait">
											<img src="../../public/images/company/zhang.png" alt="">
										</div>
										<div class="companyInfo">
											<div class="top">
												<span class="font-h1 font-a"><a href="detail.html">北京微科锐科技有限公司</a></span>
												<span class="topR"><img src="../../public/images/header/PIN.png" alt=""> 北京</span>
											</div>
											<div class="shanchang">
												<b>顾问推荐理由</b>：微科锐，离您最近老板直接聘用平台，围绕雇主、顾问、雇员三维展开精准服务，您要聘的，就是顾问给您的推荐的。
											</div>
											<div class="box-bottom">
												<span>共<b>5</b>个职位正在招聘</span>
												<a class="more" href="detail.html">
													详情
												</a>
											</div>
										</div>
									</div>
								</div>
								<div class="col-md-6">
								<div class="panel bounceIn animated">
									
										<div class="Portrait">
											<img src="../../public/images/company/zhang.png" alt="">
										</div>
										<div class="companyInfo">
											<div class="top">
												<span class="font-h1 font-a"><a href="detail.html">北京微科锐科技有限公司</a></span>
												<span class="topR"><img src="../../public/images/header/PIN.png" alt=""> 北京</span>
											</div>
											<div class="shanchang">
												<b>顾问推荐理由</b>：微科锐，离您最近老板直接聘用平台，围绕雇主、顾问、雇员三维展开精准服务，您要聘的，就是顾问给您的推荐的。
											</div>
											<div class="box-bottom">
												<span>共<b>5</b>个职位正在招聘</span>
												<a class="more" href="detail.html">
													详情
												</a>
											</div>
										</div>
									</div>
								</div>
								<div class="col-md-6">
								<div class="panel bounceIn animated">
									
										<div class="Portrait">
											<img src="../../public/images/company/zhang.png" alt="">
										</div>
										<div class="companyInfo">
											<div class="top">
												<span class="font-h1 font-a"><a href="detail.html">北京微科锐科技有限公司</a></span>
												<span class="topR"><img src="../../public/images/header/PIN.png" alt=""> 北京</span>
											</div>
											<div class="shanchang">
												<b>顾问推荐理由</b>：微科锐，离您最近老板直接聘用平台，围绕雇主、顾问、雇员三维展开精准服务，您要聘的，就是顾问给您的推荐的。
											</div>
											<div class="box-bottom">
												<span>共<b>5</b>个职位正在招聘</span>
												<a class="more" href="detail.html">
													详情
												</a>
											</div>
										</div>
									</div>
								</div>
								<div class="col-md-6">
								<div class="panel bounceIn animated">
									
										<div class="Portrait">
											<img src="../../public/images/company/zhang.png" alt="">
										</div>
										<div class="companyInfo">
											<div class="top">
												<span class="font-h1 font-a"><a href="detail.html">北京微科锐科技有限公司</a></span>
												<span class="topR"><img src="../../public/images/header/PIN.png" alt=""> 北京</span>
											</div>
											<div class="shanchang">
												<b>顾问推荐理由</b>：微科锐，离您最近老板直接聘用平台，围绕雇主、顾问、雇员三维展开精准服务，您要聘的，就是顾问给您的推荐的。
											</div>
											<div class="box-bottom">
												<span>共<b>5</b>个职位正在招聘</span>
												<a class="more" href="detail.html">
													详情
												</a>
											</div>
										</div>
									</div>
								</div>
								<div class="col-md-6">
								<div class="panel bounceIn animated">
									
										<div class="Portrait">
											<img src="../../public/images/company/zhang.png" alt="">
										</div>
										<div class="companyInfo">
											<div class="top">
												<span class="font-h1 font-a"><a href="detail.html">北京微科锐科技有限公司</a></span>
												<span class="topR"><img src="../../public/images/header/PIN.png" alt=""> 北京</span>
											</div>
											<div class="shanchang">
												<b>顾问推荐理由</b>：微科锐，离您最近老板直接聘用平台，围绕雇主、顾问、雇员三维展开精准服务，您要聘的，就是顾问给您的推荐的。
											</div>
											<div class="box-bottom">
												<span>共<b>5</b>个职位正在招聘</span>
												<a class="more" href="detail.html">
													详情
												</a>
											</div>
										</div>
									</div>
								</div>
								<div class="col-md-6">
								<div class="panel bounceIn animated">
									
										<div class="Portrait">
											<img src="../../public/images/company/zhang.png" alt="">
										</div>
										<div class="companyInfo">
											<div class="top">
												<span class="font-h1 font-a"><a href="detail.html">北京微科锐科技有限公司</a></span>
												<span class="topR"><img src="../../public/images/header/PIN.png" alt=""> 北京</span>
											</div>
											<div class="shanchang">
												<b>顾问推荐理由</b>：微科锐，离您最近老板直接聘用平台，围绕雇主、顾问、雇员三维展开精准服务，您要聘的，就是顾问给您的推荐的。
											</div>
											<div class="box-bottom">
												<span>共<b>5</b>个职位正在招聘</span>
												<a class="more" href="detail.html">
													详情
												</a>
											</div>
										</div>
									</div>
								</div>

						</div>
					</div>
				</div>

				<!-- 底部信息 -->
			<div class="footer-box">
				<div class="footer">
						<div class="row">
							<div class="col-xs-4 text-center">
								<span class="text-left">
									Vcareer.cn 版权所有
									<br>
									Company
									<br>
									Candidate
									
								</span>
							</div>
							<div class="col-xs-4 text-center">
								<span class="text-left">
									Server@Vcareer.cn 版权所有
									<br>
									京ICP备16003476号
								</span>
							</div>
							<div class="col-xs-4 text-center">
								<span class="text-left">
									Liepin
									<br>
									Linkedin
									<br>
									Indeed
									<br>
									Glassdoor
								</span>
							</div>
						</div>
					</div>
				</div>
				<!-- end -->
		</div>
		<!-- condent end -->
	</div>
<!-- 底部信息 -->

	<div class="App-footer">
		<div class="col-xs-4 text-left">
			Vcareer.cn 版权所有
			<br>
			Company
			<br>
			Candidate
		</div>
		<div class="col-xs-4 text-center">
			<span class="text-left">
				Server@Vcareer.cn 版权所有
				<br>
				京ICP备16003476号
			</span>
		</div>
		<div class="col-xs-4 text-right">
			<span class="text-left">
				Liepin
				<br>
				Linkedin
				<br>
				Indeed
				<br>
				Glassdoor
			</span>
		</div>
	</div>
</body>
	<script src="../../public/js/jquery-1.11.2.min.js"></script>
	<script src="../../public/js/jquery.elipsis.js"></script>
	<script src="../../public/js/OwlCarousel.js"></script>
	<script src="../../public/js/main.js"></script>

</html>