
.advanced-box {
	padding: 0 5%;
}
.main-title {
	margin: 30px 0;
}
/*详情*/
.more {
	width: 200px;
	height: 35px;
	margin: 35px auto 50px auto;
	background: #f5989d;
	font-size: 14px;
	text-align: center;
	padding-top: 7px;
	box-shadow: 2px 4px 4px rgba(0,0,0,0.3);

}
.more a {
	color: #ffffff;
}
/*金牌顾问*/
.panel {
	box-shadow: 0px 0px 15px rgba(0,0,0,0.3);
	border-radius: 0;
	border: none;
	display: inline-block;
	width: 100%;
	padding: 15px 20px;
}
.Portrait {
	width: 100%;
	background: #ffffff;
	overflow: hidden;
}
.Portrait img {
	width: 100%;
}
.panel .top {
	padding-top: 15px;
}
.panel .top img {
	width: 15px;
}
.panel .top .font-blue {
	font-size: 22px;
}
.panel .top .font-h1 {
	font-size: 20px;
}
.panel .top .topR {
	float: right;
}
.panel .shanchang {
    font-size: 14px;
    color: #666666;
    margin-top: 20px;
}
.panel .shanchan b {
    color: #333333;
    font-size: 16px;
}
.panel .box-bottom {
	font-size: 14px;
	margin-top: 10px;
}
.panel .box-bottom b {
	color: #cc0e30;
	font-size: 20px;
}
.panel .box-bottom .more {
	width: 80px;
	height: 30px;
	color: #ffffff;
	display: inline-block;
	margin: 0;
	box-shadow: none;
	float: right;
	font-size: 16px;
	padding-top: 5px;
}



