
.advanced-box {
	padding: 0 5%;
}
.main-title {
	margin: 40px 0 15px 0;
}
/*详情*/
.more {
	width: 200px;
	height: 35px;
	margin: 35px auto 50px auto;
	background: #f5989d;
	font-size: 14px;
	text-align: center;
	padding-top: 7px;
	box-shadow: 2px 4px 4px rgba(0,0,0,0.3);

}
.more a {
	color: #ffffff;
}
/*金牌顾问*/
.panel {
	box-shadow: 0px 1px 3px rgba(0,0,0,0.1);
	border-radius: 0;
	border: none;
	display: inline-block;
	width: 100%;
	padding: 15px 20px;
	background: #ffffff;
}
.panel .Portrait {
	width: 120px;
	height: 120px;
	overflow: hidden;
	float: left;
}
.panel .companyInfo {
	float: left;
	padding-left: 10px;
	width: calc(100% - 120px);
}
.panel .Portrait img {
	width: 100%;
}
.panel .top {
	padding-top: 0px;
}
.panel .top img {
	width: 10px;
}
.panel .top .font-blue {
	font-size: 22px;
}
.panel .top .font-h1 {
	font-size: 18px;
	width: calc(100% - 90px);
	display:inline-block;  text-overflow:ellipsis; white-space:nowrap; overflow:hidden;
}
.panel .top .topR {
	font-size:14px;
	float: right;
	/*width: 45px;*/
	overflow: hidden;
	text-overflow:ellipsis;
	white-space: nowrap;
	text-align: right;
}
.panel .shanchang {
	line-height: 22px;
    font-size: 14px;
    color: #999;
    height: 40px;
    overflow: hidden;
    margin-top: 10px;
	font-weight:500;
}
.shanchan b {
    color: #333333;
    font-size: 16px;
	font-weight:500;
}
.panel .box-bottom {
	font-size: 14px;
	margin-top: 10px;
	color:#999;
}
.panel .box-bottom span {
	width: calc(100% - 80px);
	display:inline-block;  text-overflow:ellipsis; white-space:nowrap; overflow:hidden;

}
.panel .box-bottom b {
	color: #cc0e30;
	font-size: 16px;
}
.panel .box-bottom .more {
	width: 80px;
	height: 30px;
	color: #ffffff;
	display: inline-block;
	margin: 0;
	box-shadow: none;
	float: right;
	font-size: 14px;
	padding-top: 5px;
}
.cityMoreList {
	display: none;
}
.cityMoreList {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 100;
	background: rgba(0,0,0,0.5);
}
.cityMoreList .box {
	width: calc(100% - 200px - 30%);
	height: calc(100% - 40%);
	margin-top: 10%;
	margin-left: calc(200px + 15%);
	background:#ffffff;
}
.cityMoreList .top {
	width: 100%;
	height: 65px;
	background: #e6e6e6;
	padding: 20px 10px;
}
.cityMoreList .top .left {
	float: left;
}
.cityMoreList .top .right {
	float: right;
	cursor: pointer;
}
.cityMoreList .content {
	width: 100%;
	height: calc(100% - 65px);
	overflow-y:scroll;
}
.cityMoreList .content ul {
	margin-top: 10px;
	padding: 10px;
	display: inline-block;
	width: 100%;
}
.cityMoreList .content ul li {
	display: inline-block;
	width: 100%;
}
.cityMoreList .content ul li .sheng {
	width: 100px;
	min-height: 1px;
	float: left;
	padding-top: 15px;
	color: 16px;
}

.cityMoreList .content ul li .city {
	width: calc(100% - 100px);
	float: left;
	min-height: 1px;
}
.cityMoreList .content ul li.active {
	border-bottom: 1px solid #f5989d;
}
.cityMoreList .content ul li .city span {
	font-size: 14px;
	cursor: pointer;
	display: inline-block;
	padding: 5px 10px;
	margin: 10px;
	color: #666666;
}
.cityMoreList .content ul li .city span.active {
	color: #ffffff;
	background: #f5989d;
}
.SEARCH .Options .lists .option .cityMore {
	color: #f5989d;
	margin-top: 15px;
	cursor: pointer;
}
@media screen and (max-width: 736px) {
	.panel .top .font-h1 {
		width: 100%;
	}
	.panel .box-bottom span {
		width: 100%;
	}
	.panel .top .topR {
		float: none;
		display: inline-block;
	}
	.panel .Portrait{
		width: 115px;
		height: 115px;
	}
	.panel .top,.panel .shanchang,.panel .box-bottom {
		margin-top: 3px;
		padding-top: 0;
	}
	.panel .shanchang {
		display:inline-block;  text-overflow:ellipsis; white-space:nowrap; overflow:hidden;width: 100%;height: auto;
	}
	.panel .box-bottom .more {
		display: none;
	}
	.advanced-box {
		padding: 0 10px;
	}
	.panel {
		padding: 10px 10px;
	}
	.panel .companyInfo {
		width: calc(100% - 115px);
	}
}

