._p_tit_r {
	width: calc(100% - 100px)
}
._p_tit_l {
	font-size: 14px;
	color: #999;
}
.invite {
	position: relative;

}
._p_ji_gray {
	position: absolute;
	top: 0;
	left: 0;
    display: inline-block;
	border: 25px solid #afaeae;
    border-right-color: rgba(0,0,0,0);
    border-bottom-color: rgba(0,0,0,0);
}
._p_ji_gray span {
	position: absolute;
    top: -18px;
    left: -18px;
    color: #ffffff;
    font-size: 12px;
    width: 25px;
    transform:rotate(-40deg);
	-ms-transform:rotate(-40deg); 	/* IE 9 */
	-moz-transform:rotate(-40deg); 	/* Firefox */
	-webkit-transform:rotate(-40deg); /* Safari 和 Chrome */
	-o-transform:rotate(-40deg); 	/* Opera */
}
._p_ji {
	position: absolute;
	top: 0;
	left: 0;
    display: inline-block;
    position: absolute;
    border: 25px solid #fe6262;
    border-right-color: rgba(0,0,0,0);
    border-bottom-color: rgba(0,0,0,0);
}
._p_ji span {
	position: absolute;
    top: -19px;
    left: -15px;
    color: #ffffff;
    transform:rotate(-40deg);
	-ms-transform:rotate(-40deg); 	/* IE 9 */
	-moz-transform:rotate(-40deg); 	/* Firefox */
	-webkit-transform:rotate(-40deg); /* Safari 和 Chrome */
	-o-transform:rotate(-40deg); 	/* Opera */
    font-size: 12px;
}
.s-rukou {
	margin-left: 20px;
}

.margin-no {
	margin-right: 0;
	margin-left: 0;
}
.qiye-info .blue a {
	color: #29abe2;
}
.font-gray {
	color: #999999;
	font-size: 14px;
	margin-top: 10px;
	display: inline-block;
}

.Features b {
	font-weight: normal;
}
/*收藏*/
._p_collect {
	background: #eeeeee;
	border: none;
	padding: 10px;
	width: 100%;
	margin-bottom: 10px;
	display: inline-block;
}
._p_collect .font-gray {
	margin-left: 10px;
	float: right;
}
.collect-all a {
	display: inline-block;
	width: 50px;
	text-align: center;
}
.collect-all .active {
	color: #f5989d;
	border-bottom: 2px solid #f5989d;
}
._p_collect .bg-red {
	display: inline-block;
	background: #fc9a69;
	padding: 5px 10px;
	color: #ffffff;
	border-radius: 15px;
	box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}
._p_collect .sum,.collect-company .sum {
	color: #cc0e30;
	font-size: 20px;
}
._p_collect .qiye-img {
	border-radius: 50%;
	border: 2px solid #ffffff;
	margin-top: 15px;
}
.collect-company {
	padding: 10px;
	background: #eeeeee;
	border: none;
	width: 100%;
	display: inline-block;
}

/**/
._p_browse_right ._p_tit_r {
	width: calc(100% - 140px);
}
.browse-more {
	text-align: center;
	margin: 50px 0;
	cursor: pointer;
}
.Collect_btn {
	display: inline-block;
	width: 100%;
}
.footer-box {
	margin-top: 100px;
}
@media screen and (max-width: 736px) {

	._p_ji_gray {
		border: 16px solid #afaeae;
		border-right-color: rgba(0,0,0,0);
	    border-bottom-color: rgba(0,0,0,0);
	}
	._p_ji {
		border: 16px solid #fe6262;
		border-right-color: rgba(0,0,0,0);
	    border-bottom-color: rgba(0,0,0,0);
	}
	._p_ji_gray span {
		position: absolute;
	    top: -15px;
	    left: -15px;
	    color: #ffffff;
	    font-size: 12px;
	    width: 25px;
	}
	._p_ji span {
	position: absolute;
    top: -13px;
    left: -12px;
    color: #ffffff;
    font-size: 12px;
	}
	.application {
		padding: 20px 10px;
	}
	.font-gray {
		/*margin-left: 20px;*/
		margin-bottom: 10px;
	}
	.qiye-info .blue {
		font-size: 16px;		
	}
	._p_collect .Features {
		margin-top: 0;
	}
	.invite-box {
		padding: 0;
	}
	.Features {
		width: 100%;
		float: none;
		text-align: left;
	}

._p_collect .font-gray {
	float: left !important;
}
	.collect-company {
		width: 100%;
		margin-bottom: 10px;
	}
	.collect-company .font-gray {
		margin-left: 0;
	}
	.collect-company .Features {
		margin-top: 0;
	}
	.font-gray {
			margin-left: 20px;
		}
}