._p_con_right {
	min-height: 615px;
}
.password {
	background: url("../../images/login/8.png") no-repeat center right 10px;
}
.password-box {
	width: 80%;
	max-width: 612px;
	height: 420px;
	background: #eeeeee;
	margin: 0 auto;
	margin-top: 50px;
}
.title {
	padding-top: 54px;
}
form{
	width: 100%;
	max-width: 400px;
	margin: 0 auto;
	margin-top: 40px;
}
.btn-default {
	width: 175px;
	height: 35px;
	border: none;
	background: #f26c4f;
	color: #ffffff;
	border-radius: 0;
}
.btn-default:hover {
	border: none;
	background: #f26c4f;
	color: #ffffff;
	border-radius: 0;
}
@media screen and (max-width: 736px) {
	._p_title,.password-box {
		background: #ffffff;
	}
	.App-footer {
		margin-top: 0;
	}
	.btn-default {
		width: 100%;
	}
	.password-box {
		width: 100%;
	}
	form {
		width: 100%;
	}
	.password-box {
		margin-top: 0;
	}
	.title {
		margin-top: 0;
		padding-top: 10px;
	}
}