._p_tit_r {
	width: calc(100% - 140px)
}
.invite {
	position: relative;
	margin-bottom: 10px;
}
._p_ji_gray {
	position: absolute;
	top: 0;
	left: 0;
    display: inline-block;
	border: 25px solid #afaeae;
    border-right-color: rgba(0,0,0,0);
    border-bottom-color: rgba(0,0,0,0);
}
._p_ji_gray span {
	position: absolute;
    top: -18px;
    left: -18px;
    color: #ffffff;
    font-size: 12px;
    width: 25px;
    transform:rotate(-40deg);
	-ms-transform:rotate(-40deg); 	/* IE 9 */
	-moz-transform:rotate(-40deg); 	/* Firefox */
	-webkit-transform:rotate(-40deg); /* Safari 和 Chrome */
	-o-transform:rotate(-40deg); 	/* Opera */
}
._p_ji {
	position: absolute;
	top: 0;
	left: 0;
    display: inline-block;
    position: absolute;
    border: 25px solid #fe6262;
    border-right-color: rgba(0,0,0,0);
    border-bottom-color: rgba(0,0,0,0);
}
._p_ji span {
	position: absolute;
    top: -19px;
    left: -15px;
    color: #ffffff;
    transform:rotate(-40deg);
	-ms-transform:rotate(-40deg); 	/* IE 9 */
	-moz-transform:rotate(-40deg); 	/* Firefox */
	-webkit-transform:rotate(-40deg); /* Safari 和 Chrome */
	-o-transform:rotate(-40deg); 	/* Opera */
    font-size: 12px;
}
.margin-no {
	margin-right: 0;
	margin-left: 0;
}
.qiye-info .blue a {
	color: #29abe2;
}
.invite-t p {
	margin-top: 0;
}
.btn-gray {
	background: #999999;
}
.shenqing {
	display: inline-block;
	width: 100%;
}
@media screen and (max-width: 736px) {
	._p_ji_gray {
		border: 16px solid #afaeae;
		border-right-color: rgba(0,0,0,0);
	    border-bottom-color: rgba(0,0,0,0);
	}
	._p_ji {
		border: 16px solid #fe6262;
		border-right-color: rgba(0,0,0,0);
	    border-bottom-color: rgba(0,0,0,0);
	}
	._p_ji_gray span {
		position: absolute;
	    top: -15px;
	    left: -15px;
	    color: #ffffff;
	    font-size: 12px;
	    width: 25px;
	}
	._p_ji span {
	position: absolute;
    top: -13px;
    left: -12px;
    color: #ffffff;
    font-size: 12px;
	}
	.font-gray {
		margin-left: 20px;
		margin-bottom: 10px;
	}
	.qiye-info .blue {
		font-size: 16px;		
	}
	._p_collect .Features {
		margin-top: 0;
	}
	.invite {
		padding: 20px 10px;
	}
	.invite-box {
		padding: 0;
	}
	.Features {
		width: 100%;
	}
	.collect-company {
		width: 100%;
	}
	.collect-company .font-gray {
		margin-left: 0;
	}
	.collect-company .Features {
		margin-top: 0;
	}
	
}