
.advanced-box {
	padding: 0 5%;
}
.main-title {
	margin: 30px 0;
}
/*详情*/
.more {
	width: 100%;
	height: 60px;
	font-size: 16px;
	text-align: center;
	padding-top: 20px;
	margin-top: 10px;
	color: #333333;
	transition: all 0.5s;
	-moz-transition: all 0.5s;	/* Firefox 4 */
	-webkit-transition: all 0.5s;	/* Safari 和 Chrome */
	-o-transition: all 0.5s;	/* Opera */
}
.more:hover {
	background: #f5989d;
}
.more:hover a {
	color: #ffffff;
}
.more a {
	color: #333333;
}
/*金牌顾问*/
.panel {
	text-align: center;
	box-shadow: 0px 1px 3px rgba(0,0,0,0.2);
	border-radius: 0;
	border: none;
	display: inline-block;
	width: 100%;
}
.Portrait {
	border-radius: 50%;
	width: 140px;
	height: 140px;
	background: #ffffff;
	margin: 0 auto;
	overflow: hidden;
	box-shadow: 0px 2px 15px rgba(0,0,0,0.1);
}
.Portrait img {
	width: 100%;
}
.panel .top {
	padding: 10px 10px 0 10px; 
    display: inline-block;
    width: 100%;
}
.panel .top .topL {
	float: left;
	padding: 5px 15px;
	background: #55a8fd;
	border-radius: 15px;
	color: #ffffff;
	font-size:14px;
}
.panel .top .topR {
	float: right;
}
.panel .top .topR img {
	width: 15px;
}
.panel .info {
	margin-top: 20px;
}
.panel .info .font-blue {
	font-size: 20px;
}

.panel .info .font-h1 {
	font-size: 16px;
	margin: 10px 0 15px 0;
	display: inline-block;
	border-radius: 30px;
	padding: 5px 20px;
	background: #e6e6e6;
}
.panel .info .information {
	margin-bottom: 15px;
}
.panel .info .information span {
	font-size: 14px;
	color: #666666;
	padding: 5px 7px;
	border-radius: 15px;
}
.panel .info .shanchan {
	width: calc(100% - 20%);
	margin: 0 auto;
	font-size: 14px;
	color: #666666;
	text-align: left;
	line-height:28px;
}
.panel .info .shanchan b {
	color: #F5989D;
	font-size: 14px;
}
.panel .info .shanchan p {
	margin-bottom: 10px;
}

